fluxos_n8n/fiocruz_n8n_workflow.json
{
    "name": "TDS - Dashboard Fiocruz (Automated)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "/webhook/fiocruz-progresso",
                "options": {}
            },
            "id": "node-webhook-fiocruz",
            "name": "Webhook - Fiocruz Progress",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "id-1",
                            "name": "Aluno",
                            "value": "={{ $json.body.aluno_nome }}",
                            "type": "string"
                        },
                        {
                            "id": "id-2",
                            "name": "Whatsapp",
                            "value": "={{ $json.body.whatsapp_id }}",
                            "type": "string"
                        },
                        {
                            "id": "id-3",
                            "name": "Modulo_Atual",
                            "value": "={{ $json.body.modulo_visto }}",
                            "type": "string"
                        },
                        {
                            "id": "id-4",
                            "name": "Sentimento",
                            "value": "={{ $json.body.feedback_sentimento }}",
                            "type": "string"
                        },
                        {
                            "id": "id-5",
                            "name": "Data_Hora",
                            "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-set-fiocruz",
            "name": "Map Data for Dashboard",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Progresso_Cursos",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData"
                },
                "options": {}
            },
            "id": "node-sheets-fiocruz",
            "name": "Log to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                650,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "pt2CSsDiojxbpscG",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Fiocruz Progress": {
            "main": [
                [
                    {
                        "node": "Map Data for Dashboard",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Data for Dashboard": {
            "main": [
                [
                    {
                        "node": "Log to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true,
    "tags": [
        {
            "id": "1",
            "name": "TDS"
        }
    ]
}