fluxos_n8n/kreativ-WhatsApp_Router_-_Kreativ_Educação.json
{
  "name": "WhatsApp Router - Kreativ Educação",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "id": "n-webhook",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "whatsapp-kreativ-bot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cond-fromme",
              "leftValue": "={{ String($json.body.data.key.fromMe) }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "n-filter",
      "name": "É mensagem válida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-phone",
              "name": "phone",
              "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}",
              "type": "string"
            },
            {
              "id": "assign-message",
              "name": "message",
              "value": "={{ $json.body.data.message?.conversation ?? $json.body.data.message?.extendedTextMessage?.text ?? '' }}",
              "type": "string"
            },
            {
              "id": "assign-pushname",
              "name": "pushName",
              "value": "={{ $json.body.data.pushName ?? 'Aluno' }}",
              "type": "string"
            },
            {
              "id": "assign-payload",
              "name": "originalPayload",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "n-extract",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(s.attendance_status, 'new') as attendance_status, COALESCE(s.current_module, 0) as current_module\nFROM (SELECT 1) t\nLEFT JOIN students s ON (\n  s.phone = '{{ $json.phone }}'\n  OR (length('{{ $json.phone }}') = 12 AND s.phone = concat(left('{{ $json.phone }}', 4), '9', right('{{ $json.phone }}', 8)))\n  OR (length('{{ $json.phone }}') = 13 AND s.phone = concat(left('{{ $json.phone }}', 4), right('{{ $json.phone }}', 8)))\n)\nLIMIT 1",
        "options": {}
      },
      "id": "n-db",
      "name": "Buscar estado do usuário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const rawPhone = $('Extrair dados').item.json.phone;\nconst message = ($('Extrair dados').item.json.message || '').trim().toUpperCase();\nconst pushName = $('Extrair dados').item.json.pushName;\nconst originalPayload = $('Extrair dados').item.json.originalPayload;\n\n// Normalize Brazilian phone: both 12-digit (old) and 13-digit (new +9) formats\n// Use rawPhone as-is since DB now stores normalized format\nconst phone = rawPhone;\n\n// Keywords that ALWAYS route to BuilderBot regardless of student state\nconst BUILDERBOT_KEYWORDS = [\n  'MODULO', 'MÓDULO', 'INICIAR', 'CONTINUAR', 'RETOMAR',\n  'MENU', 'INICIO', 'INÍCIO', 'OI', 'OLÁ', 'OLA', 'COMEÇAR', 'COMECAR',\n  'AJUDA', 'HELP', 'QUIZ', 'AVALIAÇÃO', 'AVALIACAO',\n  'TUTOR', 'SUPORTE', 'PARAR', 'STOP', 'PAUSAR'\n];\n\nlet route = 'deepseek'; // default: free chat via AI\n\ntry {\n  const rows = $input.all();\n  const dbRow = rows[0]?.json;\n\n  if (dbRow && dbRow.attendance_status !== undefined) {\n    const status = dbRow.attendance_status;\n    const mod = parseInt(String(dbRow.current_module ?? '0'), 10);\n\n    if (status === 'human') {\n      route = 'paused'; // human tutor attending, bot stays silent\n    } else if (BUILDERBOT_KEYWORDS.includes(message)) {\n      route = 'builderbot'; // structured command → always BuilderBot\n    } else if (mod > 0) {\n      route = 'builderbot'; // student in active module → BuilderBot\n    }\n    // mod=0 and free message → deepseek (welcome / free chat)\n  }\n} catch(e) {\n  // DB error → fallback deepseek\n}\n\nreturn [{ json: { phone, message, pushName, originalPayload, route } }];"
      },
      "id": "n-route",
      "name": "Determinar rota",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-paused",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "paused",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Paused"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "rule-builderbot",
                    "leftValue": "={{ $json.route }}",
                    "rightValue": "builderbot",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BuilderBot"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "n-switch",
      "name": "Rotear mensagem",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1344,
        304
      ]
    },
    {
      "parameters": {},
      "id": "n-paused",
      "name": "Bot pausado (tutor ativo)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1568,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_builderbot:3008/webhook",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.originalPayload) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "n-builderbot",
      "name": "Encaminhar BuilderBot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\nconst pushName = $input.item.json.pushName;\n\nconst systemPrompt = `Você é um assistente educacional da Kreativ Educação, plataforma de ensino via WhatsApp.\n\nRegras:\n- Responda sempre em português brasileiro\n- Seja amigável, didático e encorajador\n- Respostas concisas (máximo 3 parágrafos para WhatsApp)\n- Se o aluno quiser aprender, diga que ele pode responder MODULO para iniciar a trilha estruturada\n- Se não souber algo específico, diga que verificará com a equipe`;\n\nreturn [{\n  json: {\n    phone: $input.item.json.phone,\n    message,\n    pushName,\n    dsPayload: {\n      model: \"deepseek-chat\",\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: message }\n      ],\n      temperature: 0.7,\n      max_tokens: 1024\n    }\n  }\n}];"
      },
      "id": "n-gemini-payload",
      "name": "Montar payload DeepSeek",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.deepseek.com/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-412552782fbe4009a25a013825e6ab66"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.dsPayload) }}",
        "options": {}
      },
      "id": "n-gemini",
      "name": "DeepSeek AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Determinar rota').item.json.phone;\nconst choices = $input.item.json.choices;\n\nif (!choices || choices.length === 0) {\n  return [{ json: { phone, aiResponse: 'Desculpe, não consegui processar sua mensagem. Tente novamente.' } }];\n}\n\nconst aiResponse = choices[0]?.message?.content ?? 'Desculpe, ocorreu um erro. Tente novamente.';\nreturn [{ json: { phone, aiResponse } }];"
      },
      "id": "n-extract-ai",
      "name": "Extrair resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone, text: $json.aiResponse }) }}",
        "options": {}
      },
      "id": "n-send",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2224,
        480
      ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "É mensagem válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem válida?": {
      "main": [
        [
          {
            "node": "Extrair dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados": {
      "main": [
        [
          {
            "node": "Buscar estado do usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar estado do usuário": {
      "main": [
        [
          {
            "node": "Determinar rota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar rota": {
      "main": [
        [
          {
            "node": "Rotear mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rotear mensagem": {
      "main": [
        [
          {
            "node": "Bot pausado (tutor ativo)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Encaminhar BuilderBot",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar payload DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar payload DeepSeek": {
      "main": [
        [
          {
            "node": "DeepSeek AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek AI": {
      "main": [
        [
          {
            "node": "Extrair resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair resposta IA": {
      "main": [
        [
          {
            "node": "Enviar resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
