fluxos_n8n/kreativ-Chatwoot-Retomar-Bot.json
{
  "name": "Kreativ: Chatwoot → Retomar Bot",
  "nodes": [
    {
      "id": "cw-wh",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        304
      ],
      "webhookId": "kreativ-chatwoot-events",
      "parameters": {
        "path": "chatwoot-events",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.item.json.body || $input.item.json;\nconst event = body.event;\nconst conv = body.conversation || {};\nconst status = conv.status;\nconst phone = (conv.meta?.sender?.phone_number || '').replace(/\\D/g,'');\nconst convId = conv.id;\nconst assignee = conv.meta?.assignee;\n\nreturn [{ json: { event, status, phone, convId, assignee, raw: body } }];\n"
      },
      "id": "cw-extract",
      "name": "Extrair Evento",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r1",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "resolved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Resolved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "r2",
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "conversation_status_changed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "r3",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reaberta"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "cw-switch",
      "name": "Tipo de Evento",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE students SET attendance_status='bot', updated_at=NOW() WHERE phone = '{{ $json.phone }}' RETURNING id, phone, name, current_module",
        "options": {}
      },
      "id": "cw-resume",
      "name": "Retomar Bot no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        912,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.1.11:3000/api/v1/accounts/2/conversations/{{$json.convId}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: \"✅ Atendimento encerrado. O bot foi reativado automaticamente para continuar o aprendizado do aluno.\", message_type: \"outgoing\", private: true }) }}",
        "options": {}
      },
      "id": "cw-note",
      "name": "Nota Interna Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.0.1.4:5678/webhook/update-chatwoot-label",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  phone: $('Extrair Evento').item.json.phone,\n  label: 'em-andamento-m' + ($('Retomar Bot no DB').item.json.current_module || 1)\n}) }}",
        "options": {}
      },
      "id": "cw-label",
      "name": "Atualizar Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_evolution:8080/message/sendText/europs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $(\"Extrair Evento\").item.json.phone, text: \"Olá! 👋 Seu atendimento com o tutor foi encerrado. Estou de volta para continuar seu aprendizado!\\n\\nResponda *CONTINUAR* para retomar do ponto onde parou, ou *MENU* para ver as opções.\" }) }}",
        "options": {}
      },
      "id": "cw-msg",
      "name": "Mensagem Retomada WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        208
      ]
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [
        [
          {
            "node": "Extrair Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Evento": {
      "main": [
        [
          {
            "node": "Tipo de Evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Evento": {
      "main": [
        [
          {
            "node": "Retomar Bot no DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retomar Bot no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retomar Bot no DB": {
      "main": [
        [
          {
            "node": "Nota Interna Chatwoot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nota Interna Chatwoot": {
      "main": [
        [
          {
            "node": "Atualizar Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Label": {
      "main": [
        [
          {
            "node": "Mensagem Retomada WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
