fluxos_n8n/kreativ-BuilderBot-_submit-quiz-answer.json
{
  "name": "BuilderBot: submit-quiz-answer",
  "nodes": [
    {
      "id": "wh-quiz",
      "name": "Webhook submit-quiz-answer",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-quiz-answer",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kreativ-submit-quiz-answer"
    },
    {
      "id": "pg-get-quiz",
      "name": "Buscar questões do módulo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        460,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT quiz_questions, passing_score, module_number FROM modules WHERE course_id = 'default' AND module_number = {{ $json.body.moduleNumber ?? $json.moduleNumber ?? 1 }} LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-evaluate",
      "name": "Avaliar resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "jsCode": "const body = $('Webhook submit-quiz-answer').item.json.body ?? $('Webhook submit-quiz-answer').item.json;\nconst phone = body.phone;\nconst moduleNumber = parseInt(body.moduleNumber ?? '1', 10);\nconst questionIndex = parseInt(body.questionIndex ?? '0', 10);\nconst answer = (body.answer ?? '').toUpperCase().trim();\n\nconst moduleData = $input.item.json;\nconst questions = moduleData.quiz_questions ?? [];\nconst passingScore = moduleData.passing_score ?? 70;\n\n// Se não há questões no DB, simula uma questão padrão\nif (questions.length === 0) {\n  return [{\n    json: {\n      phone,\n      moduleNumber,\n      correct: answer === 'A',\n      feedback: answer === 'A' ? 'Excelente! Você entendeu o conceito principal.' : 'Quase lá! A resposta correta era A.',\n      moduleComplete: true,\n      score: answer === 'A' ? 100 : 40,\n      nextModule: moduleNumber + 1,\n      passingScore\n    }\n  }];\n}\n\n// Avalia questão real do DB\nconst question = questions[questionIndex];\nif (!question) {\n  return [{ json: { phone, moduleNumber, correct: false, feedback: 'Questão não encontrada.', moduleComplete: false, score: 0 } }];\n}\n\nconst correctAnswer = (question.answer ?? question.correctAnswer ?? 'A').toUpperCase();\nconst isCorrect = answer === correctAnswer;\nconst isLastQuestion = questionIndex >= questions.length - 1;\n\n// Calcula score simples (perguntas respondidas corretamente / total)\nconst scorePerQuestion = Math.round(100 / questions.length);\nconst score = isCorrect ? (questionIndex + 1) * scorePerQuestion : questionIndex * scorePerQuestion;\n\nreturn [{\n  json: {\n    phone,\n    moduleNumber,\n    correct: isCorrect,\n    feedback: isCorrect\n      ? (question.feedbackCorrect ?? 'Correto! Continue assim.')\n      : (question.feedbackWrong ?? `A resposta correta era ${correctAnswer}.`),\n    moduleComplete: isLastQuestion,\n    score: isLastQuestion ? score : null,\n    nextModule: isLastQuestion && score >= passingScore ? moduleNumber + 1 : null,\n    passingScore\n  }\n}];"
      }
    },
    {
      "id": "pg-update-progress",
      "name": "Atualizar progresso",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        900,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE students \nSET \n  scores = scores || jsonb_build_object('module_{{ $json.moduleNumber }}', {{ $json.score ?? 0 }}),\n  completed_modules = CASE \n    WHEN NOT ({{ $json.moduleNumber }} = ANY(completed_modules))\n    THEN array_append(completed_modules, {{ $json.moduleNumber }})\n    ELSE completed_modules\n  END,\n  current_module = CASE WHEN {{ $json.nextModule ?? 0 }} > 0 THEN {{ $json.nextModule ?? 0 }} ELSE current_module END,\n  updated_at = NOW()\nWHERE phone = '{{ $json.phone }}'\nAND {{ $json.moduleComplete ?? false }}",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "respond-quiz",
      "name": "Responder BuilderBot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Avaliar resposta').item.json) }}"
      }
    }
  ],
  "connections": {
    "Webhook submit-quiz-answer": {
      "main": [
        [
          {
            "node": "Buscar questões do módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar questões do módulo": {
      "main": [
        [
          {
            "node": "Avaliar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avaliar resposta": {
      "main": [
        [
          {
            "node": "Atualizar progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar progresso": {
      "main": [
        [
          {
            "node": "Responder BuilderBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
