fluxos_n8n/senior_assistant_n8n_workflow.json
{
    "name": "Senior AI Assistant - Gestão de Estado",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "/webhook/gestao-estado-curso",
                "options": {}
            },
            "id": "node-webhook-gestao",
            "name": "Webhook - Gestão Estado",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "id-uid",
                            "name": "ID_Usuario",
                            "value": "={{ $json.body.usuario_id }}",
                            "type": "string"
                        },
                        {
                            "id": "id-1",
                            "name": "Aluno",
                            "value": "={{ $json.body.aluno_nome }}",
                            "type": "string"
                        },
                        {
                            "id": "id-2",
                            "name": "Modulo",
                            "value": "={{ $json.body.modulo }}",
                            "type": "string"
                        },
                        {
                            "id": "id-3",
                            "name": "Status",
                            "value": "={{ $json.body.status }}",
                            "type": "string"
                        },
                        {
                            "id": "id-origem",
                            "name": "Origem",
                            "value": "={{ $json.body.origem }}",
                            "type": "string"
                        },
                        {
                            "id": "id-4",
                            "name": "Data_Hora",
                            "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-set-data",
            "name": "Map Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "YOUR_GOOGLE_SHEET_ID_HERE",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Progresso_Senior",
                    "mode": "name"
                },
                "columns": {
                    "mappingMode": "autoMapInputData"
                },
                "options": {}
            },
            "id": "node-google-sheets",
            "name": "Log to Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.7,
            "position": [
                650,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "pt2CSsDiojxbpscG",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "connections": {
        "Webhook - Gestão Estado": {
            "main": [
                [
                    {
                        "node": "Map Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Map Data": {
            "main": [
                [
                    {
                        "node": "Log to Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true,
    "tags": []
}