fluxos_n8n/senior_assistant_v5_router.json
{
    "name": "Senior Assistant - AI Router (V5)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "/webhook/ai-router",
                "options": {}
            },
            "id": "node-webhook-router",
            "name": "Webhook - AI Router",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "id-1",
                            "name": "usuario_id",
                            "value": "={{ $json.body.usuario_id }}",
                            "type": "string"
                        },
                        {
                            "id": "id-2",
                            "name": "aluno_nome",
                            "value": "={{ $json.body.nome }}",
                            "type": "string"
                        },
                        {
                            "id": "id-3",
                            "name": "modulo",
                            "value": "={{ $json.body.modulo }}",
                            "type": "string"
                        },
                        {
                            "id": "id-4",
                            "name": "user_prompt",
                            "value": "={{ $json.body.mensagem }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-set-vars",
            "name": "Set Metadata",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "type": "string"
                    },
                    "conditions": [
                        {
                            "id": "cond-rag",
                            "leftValue": "={{ $json.user_prompt }}",
                            "rightValue": "?",
                            "operator": "contains",
                            "transition": "main"
                        }
                    ],
                    "fallbackOutput": 1
                }
            },
            "id": "node-router",
            "name": "AI Router Logic",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sk-a91aed9f70d0455e9c7c9a699377151f"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "model",
                            "value": "deepseek-chat"
                        },
                        {
                            "name": "messages",
                            "value": "=[{\"role\": \"system\", \"content\": \"Você é um assistente gentil para idosos. Contexto: Aluno {{ $node[\"Set Metadata\"].json[\"aluno_nome\"] }} no módulo {{ $node[\"Set Metadata\"].json[\"modulo\"] }}. Responda de forma paciente e didática.\"}, {\"role\": \"user\", \"content\": \"{{ $node[\"Set Metadata\"].json[\"user_prompt\"] }}\"}]"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-deepseek",
            "name": "DeepSeek Completion",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://srv1011336.hstgr.cloud:8090/api/collections/alunos/records",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "usuario_id",
                            "value": "={{ $json.usuario_id }}"
                        },
                        {
                            "name": "nome",
                            "value": "={{ $json.aluno_nome }}"
                        },
                        {
                            "name": "modulo_atual",
                            "value": "={{ $json.modulo }}"
                        },
                        {
                            "name": "origem",
                            "value": "typebot"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-pb-alunos",
            "name": "PocketBase - Update Aluno",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                650,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://srv1011336.hstgr.cloud:8090/api/collections/mensagens/records",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "usuario_id",
                            "value": "={{ $json.usuario_id }}"
                        },
                        {
                            "name": "conteudo",
                            "value": "={{ $json.user_prompt }}"
                        },
                        {
                            "name": "role",
                            "value": "user"
                        },
                        {
                            "name": "modulo",
                            "value": "={{ $json.modulo }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "node-pb-msg",
            "name": "PocketBase - Log Message",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                500
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200,
                    "responseMode": "responseNode"
                },
                "responseBody": "={\n  \"choices\": [\n    {\n      \"message\": {\n        \"content\": \"{{ $json.choices[0].message.content }}\"\n      }\n    }\n  ]\n}"
            },
            "id": "node-response",
            "name": "Respond to Typebot",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1100,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://YOUR_SUPABASE_URL.supabase.co/rest/v1/rpc/match_documents",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_SUPABASE_ANON_KEY"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "query_embedding",
                            "value": "={{ $json.embedding }}"
                        },
                        {
                            "name": "match_threshold",
                            "value": "0.78"
                        }
                    ]
                }
            },
            "id": "node-supabase-rag",
            "name": "Supabase RAG Vector Search",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                200
            ]
        }
    ],
    "connections": {
        "Webhook - AI Router": {
            "main": [
                [
                    {
                        "node": "Set Metadata",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Metadata": {
            "main": [
                [
                    {
                        "node": "PocketBase - Update Aluno",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PocketBase - Update Aluno": {
            "main": [
                [
                    {
                        "node": "PocketBase - Log Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PocketBase - Log Message": {
            "main": [
                [
                    {
                        "node": "AI Router Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Router Logic": {
            "main": [
                null,
                [
                    {
                        "node": "DeepSeek Completion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Completion": {
            "main": [
                [
                    {
                        "node": "Respond to Typebot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "active": true,
    "tags": []
}