fluxos_n8n/TDS - Migrar Inscritos Anteriores.json
{
  "name": "TDS - Migrar Inscritos Anteriores",
  "nodes": [
    {
      "parameters": {},
      "id": "e9b1-4a2c-8d3e-f0g1h2i3j4k5",
      "name": "Executar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ -800, 300 ]
    },
    {
      "parameters": {
        "fileName": "FORMULÁRIO_inscritos_primario_tds.xlsx - aba1.csv",
        "options": {
          "delimiter": ","
        }
      },
      "id": "f0g1-5b3d-9e4f-a1b2c3d4e5f6",
      "name": "Ler CSV de Inscritos Prévios",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [ -550, 300 ]
    },
    {
        "parameters": {},
        "id": "g1h2-6c4e-0f5a-b2c3d4e5f6a7",
        "name": "Converter para JSON",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 1,
        "position": [ -300, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mappedItems = [];\n\nfor (const item of items) {\n  const original = item.json;\n  \n  // Limpa e formata o telefone, removendo '55' do início se houver\n  let phone = (original.telefone_whatsapp || '').toString().replace(/\\D/g, '');\n  if (phone.startsWith('55')) {\n    phone = phone.substring(2);\n  }\n  const formattedPhone = `${phone.slice(0,2)} 9 ${phone.slice(3,7)}-${phone.slice(7)}`;\n\n  const newItem = {\n    // Nomes das colunas correspondem EXATAMENTE ao Google Form\n    'E-mail': original.email,\n    'Li e concordo com o tratamento dos meus dados pessoais para as finalidades descritas acima, em conformidade com a Lei Geral de Proteção de Dados (Lei 13.709/2018)': 'Sim',\n    'Nome completo': original.nome_completo,\n    'whatsapp no formato: 63 9 9999 9999': formattedPhone,\n    'CPF': original.cpf,\n    'Município': original.cidade,\n    'Estado': original.estado,\n    'Curso escolhido': original.area_interesse\n    // Adicione outros campos aqui com valores padrão se necessário\n  };\n  mappedItems.push({ json: newItem });\n}\n\nreturn mappedItems;"
      },
      "id": "h2i3-7d5f-1a6b-c3d4e5f6a7b8",
      "name": "Mapear Dados para Nova Estrutura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -50, 300 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
        "sheetName": "Alunos_TDS",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "i3j4-8e6a-2b7c-d4e5f6a7b8c9",
      "name": "Adicionar na Planilha de Adesão",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 200, 300 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Manualmente": { "main": [ [ { "node": "Ler CSV de Inscritos Prévios", "type": "main", "index": 0 } ] ] },
    "Ler CSV de Inscritos Prévios": { "main": [ [ { "node": "Converter para JSON", "type": "main", "index": 0 } ] ] },
    "Converter para JSON": { "main": [ [ { "node": "Mapear Dados para Nova Estrutura", "type": "main", "index": 0 } ] ] },
    "Mapear Dados para Nova Estrutura": { "main": [ [ { "node": "Adicionar na Planilha de Adesão", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}