fluxos_n8n/TDS – Gestão Estado Curso Corrigido v2.json

{
  "name": "TDS – Gestão Estado Curso (Corrigido v2)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "/webhook/gestao-estado-curso", "options": {} },
      "id": "4e0a2868-04a1-4204-a103-fc86aeaa0436",
      "name": "Webhook - Gestão Estado Curso",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1344, 1552]
    },
    {
      "parameters": {
        "assignments": { "assignments": [
            { "id": "id-1", "name": "whatsapp_id", "value": "={{ $json.body.whatsapp_id }}", "type": "string" },
            { "id": "id-2", "name": "curso_id", "value": "={{ $json.body.curso_id }}", "type": "string" },
            { "id": "id-3", "name": "spreadsheet_id", "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8", "type": "string" }
        ]}
      },
      "id": "cd4598ef-9ec0-4e1c-822b-7fed6e8b97c0",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1120, 1552]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Alunos_TDS" },
        "filtersUI": { "values": [
            { "lookupColumn": "Whatsapp", "lookupValue": "={{ $('Workflow Configuration').item.json.whatsapp_id }}" }
        ]},
        "options": { "returnAllMatches": false }
      },
      "id": "25a7d6b6-2f58-40c8-a8e9-d8293b60d95f",
      "name": "Buscar Aluno por Whatsapp",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-896, 1552],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "conditions": { "conditions": [ { "id": "id-1", "leftValue": "={{ $('Buscar Aluno por Whatsapp').exists() }}" } ] } },
      "id": "5330b7f6-c4b7-499d-aa86-b2e6849bb0b4",
      "name": "Aluno Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-672, 1552]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Progresso_Cursos" },
        "filtersUI": { "values": [
            { "lookupColumn": "Aluno_ID", "lookupValue": "={{ $('Buscar Aluno por Whatsapp').item.json.CPF }}" },
            { "lookupColumn": "Curso_ID", "lookupValue": "={{ $('Workflow Configuration').item.json.curso_id }}" }
        ]},
        "options": { "returnAllMatches": false }
      },
      "id": "82c0e5c0-242a-4f95-b067-d250ad4f0a3b",
      "name": "Buscar Progresso do Curso",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-448, 1456],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "conditions": { "conditions": [ { "id": "id-1", "leftValue": "={{ $('Buscar Progresso do Curso').exists() }}" } ] } },
      "id": "1f497712-c766-4e68-ace8-5fbc1c231516",
      "name": "Progresso Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-224, 1456]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "status", "value": "nao_matriculado" },
            { "id": "id-2", "name": "nome", "value": "={{ $('Buscar Aluno por Whatsapp').item.json.Nome_Completo }}" }
      ]}},
      "id": "9a9d9b59-0cb7-451e-a14a-9f788eaceb95",
      "name": "Formatar Resposta - Não Matriculado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 1360]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "status", "value": "={{ $('Buscar Progresso do Curso').item.json.Aluno_Status }}" },
            { "id": "id-2", "name": "nome", "value": "={{ $('Buscar Aluno por Whatsapp').item.json.Nome_Completo }}" },
            { "id": "id-3", "name": "proximo_bloco", "value": "={{ $('Buscar Progresso do Curso').item.json.Proximo_Bloco_Curso }}" }
      ]}},
      "id": "4e77588a-700a-4581-a8ff-22e5c7a85377",
      "name": "Formatar Resposta - Progresso Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 1552]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": {} },
      "id": "d7a6f0fe-a5d8-40c3-b006-3a61cc492dc7",
      "name": "Retornar Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [224, 1456]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "status", "value": "aluno_nao_encontrado" },
            { "id": "id-2", "name": "whatsapp_id", "value": "={{ $('Workflow Configuration').item.json.whatsapp_id }}" }
      ]}},
      "id": "bffe0bdc-08bb-4677-ac41-149c51bf5e25",
      "name": "Formatar Erro - Aluno Não Encontrado",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-448, 1648]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $json }}", "options": { "responseCode": 404 } },
      "id": "bc74ddb8-2ebd-40dd-8574-c629827d0f57",
      "name": "Retornar Erro 404",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [-224, 1648]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Gestão Estado Curso": { "main": [ [ { "node": "Workflow Configuration", "type": "main", "index": 0 } ] ] },
    "Workflow Configuration": { "main": [ [ { "node": "Buscar Aluno por Whatsapp", "type": "main", "index": 0 } ] ] },
    "Buscar Aluno por Whatsapp": { "main": [ [ { "node": "Aluno Encontrado?", "type": "main", "index": 0 } ] ] },
    "Aluno Encontrado?": { "main": [
        [ { "node": "Buscar Progresso do Curso", "type": "main", "index": 0 } ],
        [ { "node": "Formatar Erro - Aluno Não Encontrado", "type": "main", "index": 0 } ]
    ]},
    "Buscar Progresso do Curso": { "main": [ [ { "node": "Progresso Existe?", "type": "main", "index": 0 } ] ] },
    "Progresso Existe?": { "main": [
        [ { "node": "Formatar Resposta - Progresso Encontrado", "type": "main", "index": 0 } ],
        [ { "node": "Formatar Resposta - Não Matriculado", "type": "main", "index": 0 } ]
    ]},
    "Formatar Resposta - Não Matriculado": { "main": [ [ { "node": "Retornar Sucesso", "type": "main", "index": 0 } ] ] },
    "Formatar Resposta - Progresso Encontrado": { "main": [ [ { "node": "Retornar Sucesso", "type": "main", "index": 0 } ] ] },
    "Formatar Erro - Aluno Não Encontrado": { "main": [ [ { "node": "Retornar Erro 404", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": {"executionOrder": "v1"},
  "tags": [{"id": "1", "name": "TDS"}]
}
