fluxos_n8n/TDS – Relatório Semanal Gestão Corrigido.json
{
  "name": "TDS – Relatório Semanal Gestão (Corrigido)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "field": "weeks", "triggerAtDay": [5], "triggerAtHour": 17 } ] } },
      "id": "ea3785c6-e63e-4345-b125-5fcf214f9949",
      "name": "Weekly Schedule - Friday 5PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1072, 32]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "spreadsheetId", "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8", "type": "string" },
            { "id": "id-2", "name": "reportDate", "value": "={{ $now.toFormat('yyyy-MM-dd') }}", "type": "string" },
            { "id": "id-3", "name": "emailRecipients", "value": "equipe@tds.com.br", "type": "string" }
      ]}},
      "id": "d8eb61e6-d33c-40b3-97fc-5a305e58e09a",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-848, 32]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheetId }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Alunos_TDS" },
        "options": {}
      },
      "id": "138dfcc8-aac8-4379-806c-45ff98e265a3",
      "name": "Read Alunos_TDS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-624, -64],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheetId }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Progresso_Cursos" },
        "options": {}
      },
      "id": "16bbdb65-f9cd-4633-8651-663b94303c83",
      "name": "Read Progresso_Cursos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-624, 128],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "mode": "merge", "key1": "CPF", "key2": "Aluno_ID", "options": {} },
      "id": "d4d9930b-02e6-4cd1-895f-95e11b33e7b7",
      "name": "Merge Alunos e Progresso",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-400, 32]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst metrics = {};\n// Adicione aqui a lógica para agregar as métricas\n// Ex: Total de alunos, status, etc.\nfor (const item of items) {\n    const json = item.json;\n    // Lógica de agregação\n}\nreturn [{ json: metrics }];"
      },
      "id": "90ebd8ac-d381-4335-a1ee-f4cb21cf1ffc",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, 32]
    },
    {
      "parameters": {
        "jsCode": "const metrics = $input.item.json;\n\n// Gerar um relatório em HTML\nlet htmlReport = '<h1>Relatório Semanal de Gestão</h1>';\nhtmlReport += `<p>Data: ${new Date().toLocaleDateString('pt-BR')}</p>`;\n// ...construir o resto do HTML com as métricas\n\n$input.item.json.htmlReport = htmlReport;\n\n// Gerar dados para CSV\nconst csvData = [];\n// ...formatar os dados para CSV\n\n$input.item.json.csvData = csvData;\n\nreturn $input.item;"
      },
      "id": "2d643306-a382-40cf-8b15-129cfb268680",
      "name": "Format Final Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [48, 32]
    },
    {
      "parameters": {
        "options": { "fileName": "={{ 'Relatorio_Gestao_TDS_' + $now.toFormat('yyyy-MM-dd') + '.csv' }}" },
        "fileData": "={{ $json.csvData }}"
      },
      "id": "db49d268-1b87-4a9f-b814-e0b7d6ebb339",
      "name": "Convert Metrics to CSV",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [272, -64]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Workflow Configuration').item.json.emailRecipients }}",
        "subject": "={{ 'Relatório Semanal de Gestão TDS - ' + $now.toFormat('dd/MM/yyyy') }}",
        "message": "={{ $('Format Final Report').item.json.htmlReport }}",
        "options": { "attachmentsUi": { "attachmentsBinary": [ { "inputNode": "Convert Metrics to CSV" } ] } }
      },
      "id": "6fd79aaf-103c-443e-af8e-b54b65d9656b",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [496, -64],
      "credentials": { "gmailOAuth2": { "id": "YOLcZEg0Iooy7mEC", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "operation": "overwrite",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheetId }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "GESTAO_PAINEL" },
        "columns": { "mappingMode": "autoMapInputData" }
      },
      "id": "ce166560-95a3-4129-b7eb-e79c7e1dc94f",
      "name": "Update Painel_Gestao Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [272, 128],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Schedule - Friday 5PM": { "main": [ [ { "node": "Workflow Configuration", "type": "main", "index": 0 } ] ] },
    "Workflow Configuration": { "main": [ [ { "node": "Read Alunos_TDS", "type": "main", "index": 0 } ], [ { "node": "Read Progresso_Cursos", "type": "main", "index": 0 } ] ] },
    "Read Alunos_TDS": { "main": [ [ { "node": "Merge Alunos e Progresso", "type": "main", "index": 0 } ] ] },
    "Read Progresso_Cursos": { "main": [ [ { "node": "Merge Alunos e Progresso", "type": "main", "index": 1 } ] ] },
    "Merge Alunos e Progresso": { "main": [ [ { "node": "Calculate Metrics", "type": "main", "index": 0 } ] ] },
    "Calculate Metrics": { "main": [ [ { "node": "Format Final Report", "type": "main", "index": 0 } ] ] },
    "Format Final Report": { "main": [ [ { "node": "Convert Metrics to CSV", "type": "main", "index": 0 } ], [ { "node": "Update Painel_Gestao Sheet", "type": "main", "index": 0 } ] ] },
    "Convert Metrics to CSV": { "main": [ [ { "node": "Send Report Email", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}