fluxos_n8n/TDS - Migrar Inscritos com Mapeamento.json
{
  "name": "TDS - Migrar Inscritos com Mapeamento",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2-c3d4-e5f6-g7h8i9j0k1l2",
      "name": "Executar Manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [ -800, 300 ]
    },
    {
      "parameters": {
        "fileName": "FORMULÁRIO_inscritos_primario_tds.xlsx - aba1.csv",
        "options": {}
      },
      "id": "b2c3-d4e5-f6g7-h8i9j0k1l2m3",
      "name": "Ler CSV de Inscritos Prévios",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1.1,
      "position": [ -550, 300 ]
    },
    {
        "parameters": {},
        "id": "c3d4-e5f6-g7h8-i9j0k1l2m3n4",
        "name": "Converter para JSON",
        "type": "n8n-nodes-base.spreadsheetFile",
        "typeVersion": 1,
        "position": [ -300, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mappedItems = [];\n\n// --- LÓGICA DE MAPEAMENTO ---\nconst getCursoId = (areaDeInteresse) => {\n  const area = areaDeInteresse.toLowerCase();\n  if (area.includes('inteligência artificial') || area.includes('inclusão digital')) {\n    return 'IA_INCLUSAO_DIGITAL_01';\n  }\n  if (area.includes('educação financeira')) {\n    return 'ED_FINANCEIRA_01';\n  }\n  if (area.includes('crédito') || area.includes('cooperativismo')) {\n    return 'CREDITO_COOP_01';\n  }\n  if (area.includes('culinária')) {\n    return 'CULINARIA_01';\n  }\n  if (area.includes('planejamento produtivo')) {\n    return 'PLAN_PRODUTIVO_01';\n  }\n  if (area.includes('beleza') || area.includes('unhas') || area.includes('cabelo')) {\n    return 'BELEZA_01';\n  }\n  if (area.includes('audiovisual')) {\n    return 'AUDIOVISUAL_01';\n  }\n   if (area.includes('agricultura')) {\n    return 'AGRICULTURA_01';\n  }\n\n  // Fallback para cursos não mapeados\n  return 'CURSO_A_DEFINIR'; \n}\n// --- FIM DA LÓGICA ---\n\nfor (const item of items) {\n  const original = item.json;\n  \n  // Pular linhas sem CPF, que é nossa chave principal\n  if (!original.cpf) {\n    continue;\n  }\n\n  let phone = (original.telefone_whatsapp || '').toString().replace(/\\D/g, '');\n  if (phone.startsWith('55')) {\n    phone = phone.substring(2);\n  }\n  const formattedPhone = `${phone.slice(0,2)} 9 ${phone.slice(3,7)}-${phone.slice(7)}`;\n\n  const newItem = {\n    'E-mail': original.email,\n    'Li e concordo com o tratamento dos meus dados pessoais para as finalidades descritas acima, em conformidade com a Lei Geral de Proteção de Dados (Lei 13.709/2018)': 'Sim',\n    'Nome completo': original.nome_completo,\n    'whatsapp no formato: 63 9 9999 9999': formattedPhone,\n    'CPF': original.cpf,\n    'Município': original.cidade,\n    'Estado': original.estado,\n    'Curso escolhido': getCursoId(original.area_interesse || '')\n  };\n  mappedItems.push({ json: newItem });\n}\n\nreturn mappedItems;"
      },
      "id": "d4e5-f6g7-h8i9-j0k1l2m3n4o5p6",
      "name": "Mapear Dados e Definir Curso_ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ -50, 300 ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
        "sheetName": "Alunos_TDS",
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "e5f6-g7h8-i9j0-k1l2m3n4o5p6",
      "name": "Adicionar na Planilha de Adesão",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ 200, 300 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Manualmente": { "main": [ [ { "node": "Ler CSV de Inscritos Prévios", "type": "main", "index": 0 } ] ] },
    "Ler CSV de Inscritos Prévios": { "main": [ [ { "node": "Converter para JSON", "type": "main", "index": 0 } ] ] },
    "Converter para JSON": { "main": [ [ { "node": "Mapear Dados e Definir Curso_ID", "type": "main", "index": 0 } ] ] },
    "Mapear Dados e Definir Curso_ID": { "main": [ [ { "node": "Adicionar na Planilha de Adesão", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}