fluxos_n8n/TDS - Processar Nova Matrícula (v2 - Colunas Corrigidas).json
{
  "name": "TDS – Processar Nova Matrícula (v2 - Colunas Corrigidas)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [ { "mode": "everyX", "value": 5, "unit": "minutes" } ] },
        "documentId": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
        "sheetName": "Alunos_TDS",
        "event": "rowAdded",
        "options": {}
      },
      "id": "c3aa66cb-297c-4bd7-a4c6-40e4716ea2f2",
      "name": "Nova Matrícula TDS",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1.1,
      "position": [-1392, -48],
      "credentials": { "googleSheetsTriggerOAuth2Api": { "id": "d7xAkNhh7aPtgxyk", "name": "Google Sheets Trigger account" } }
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "typebot_link", "value": "https://typebot.io/start-curso", "type": "string" },
            { "id": "id-2", "name": "equipe_email", "value": "equipe@tds.com.br", "type": "string" }
      ]}},
      "id": "e0c4a4a5-8512-4a81-8baa-663617cc4c65",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1168, -48]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;\n\n// Usa os nomes exatos das colunas do Google Form\nconst nomeCompleto = item['Nome completo'];\nconst cpf = item['CPF'];\nconst whatsapp = item['whatsapp no formato: 63 9 9999 9999'] || '';\nconst cursoEscolhido = item['Curso escolhido'];\n\n// Formata o WhatsApp para o padrão E.164\nconst whatsappFormatado = '55' + whatsapp.replace(/\\D/g, '');\n\n// Retorna o item com os dados padronizados\nreturn {\n  json: {\n    ...item,\n    Nome_Completo: nomeCompleto,\n    CPF_Limpo: cpf, // Mantém o CPF como chave principal\n    Whatsapp_Formatado: whatsappFormatado,\n    Curso_ID: cursoEscolhido,\n    Data_Inicio: new Date().toISOString().split('T')[0]\n  }\n};"
      },
      "id": "77a2f7fa-e9cf-4c1f-aee5-055a4e046b54",
      "name": "Padronizar Dados da Matrícula",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-944, -48]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
        "sheetName": "Progresso_Cursos",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Aluno_ID": "={{ $json.CPF_Limpo }}",
            "Curso_ID": "={{ $json.Curso_ID }}",
            "Aluno_Status": "novo",
            "Proximo_Bloco_Curso": "m0-start-block",
            "Data_Inicio": "={{ $json.Data_Inicio }}"
          },
          "matchingColumns": [ "Aluno_ID", "Curso_ID" ]
        }
      },
      "id": "d597627d-2037-4a1b-93e8-8f2932fb7e66",
      "name": "Criar/Atualizar Registro de Progresso",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-720, -48],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.Whatsapp_Formatado }}",
        "textBody": "Olá, {{ $json.Nome_Completo }}! Sua matrícula no curso '{{ $json.Curso_ID }}' foi confirmada com sucesso. Para começar, basta enviar um 'oi' para este número ou acessar o link: {{ $('Workflow Configuration').item.json.typebot_link }}",
        "additionalFields": {}
      },
      "id": "f899469f-b8d8-4b31-b99d-90398565ee4a",
      "name": "Enviar Boas-Vindas WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [-496, -48],
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Nova Matrícula TDS": { "main": [ [ { "node": "Padronizar Dados da Matrícula", "type": "main", "index": 0 } ] ] },
    "Padronizar Dados da Matrícula": { "main": [ [ { "node": "Criar/Atualizar Registro de Progresso", "type": "main", "index": 0 } ] ] },
    "Criar/Atualizar Registro de Progresso": { "main": [ [ { "node": "Enviar Boas-Vindas WhatsApp", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}