fluxos_n8n/TDS – Processar Nova Matrícula Corrigido.json
{
  "name": "TDS – Processar Nova Matrícula",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590747257,
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit#gid=1590747257"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "c3aa66cb-297c-4bd7-a4c6-40e4716ea2f2",
      "name": "Nova Matrícula TDS",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        -48
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "d7xAkNhh7aPtgxyk",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "typebot_link",
              "value": "https://typebot.io/start-curso",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "equipe_email",
              "value": "equipe@tds.com.br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e0c4a4a5-8512-4a81-8baa-663617cc4c65",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Email",
              "value": "={{ $json.Email }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Nome_Completo",
              "value": "={{ $json.Nome_Completo }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "CPF",
              "value": "={{ $json.CPF }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Curso_Escolhido",
              "value": "={{ $json.Curso_Escolhido }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Whatsapp",
              "value": "={{ $json.Whatsapp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "98728bd2-7cc1-4159-a9e4-dc5f71be0180",
      "name": "Extrair Campos Chave",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  let whatsapp = item.json.Whatsapp || '';\n  whatsapp = whatsapp.replace(/\\D/g, '');\n  \n  if (!whatsapp.startsWith('55')) {\n    whatsapp = '55' + whatsapp;\n  }\n  \n  const dataAtual = new Date().toISOString().split('T')[0];\n  \n  return {\n    json: {\n      ...item.json,\n      Whatsapp_Formatado: whatsapp,\n      Data_Inicio: dataAtual\n    }\n  };\n});"
      },
      "id": "77a2f7fa-e9cf-4c1f-aee5-055a4e046b54",
      "name": "Formatar WhatsApp e Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -48
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590747257,
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit#gid=1590747257"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "CPF"
            }
          ]
        },
        "options": {}
      },
      "id": "b472e7de-19fb-4852-8bd8-b78a7a275c24",
      "name": "Verificar CPF Existente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pt2CSsDiojxbpscG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Verificar CPF Existente').item.json.CPF }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ae9726e5-b3e0-44da-9a19-a9cee7594fec",
      "name": "CPF Já Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590747257,
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit#gid=1590747257"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CPF": "={{ $('Formatar WhatsApp e Data').item.json.CPF }}",
            "row_number": 0
          },
          "matchingColumns": [
            "CPF"
          ],
          "schema": [
            {
              "id": "Carimbo de data/hora",
              "displayName": "Carimbo de data/hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Li e concordo com o tratamento...",
              "displayName": "Li e concordo com o tratamento...",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nome completo",
              "displayName": "Nome completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Município",
              "displayName": "Município",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Bairro/Assentamento",
              "displayName": "Bairro/Assentamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Curso escolhido",
              "displayName": "Curso escolhido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data da entrevista",
              "displayName": "Data da entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sexo",
              "displayName": "Sexo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Idade (anos)",
              "displayName": "Idade (anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado civil",
              "displayName": "Estado civil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Número de pessoas que moram no domicílio",
              "displayName": "Número de pessoas que moram no domicílio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantas crianças (0–12 anos)",
              "displayName": "Quantas crianças (0–12 anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantos adolescentes (13–17 anos)",
              "displayName": "Quantos adolescentes (13–17 anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantos idosos (60+ anos)",
              "displayName": "Quantos idosos (60+ anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qual é a sua cor ou raça?",
              "displayName": "Qual é a sua cor ou raça?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você se identifica como Quilombola?",
              "displayName": "Você se identifica como Quilombola?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Escolaridade",
              "displayName": "Escolaridade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Está Inscrito no CadÚnico?",
              "displayName": "Está Inscrito no CadÚnico?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recebe algum benefício social?",
              "displayName": "Recebe algum benefício social?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "A casa em que mora possui:",
              "displayName": "A casa em que mora possui:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você está:",
              "displayName": "Você está:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor exato da renda pessoal mensal em R$",
              "displayName": "Valor exato da renda pessoal mensal em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Valor exato da renda familiar mensal em R$",
              "displayName": "Valor exato da renda familiar mensal em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você hoje desenvolve alguma atividade produtiva?",
              "displayName": "Você hoje desenvolve alguma atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Atividade Produtiva",
              "displayName": "Atividade Produtiva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caso possua atividade agropecuária: Tamanho da área em m²",
              "displayName": "Caso possua atividade agropecuária: Tamanho da área em m²",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Principais produtos (separe por virgula):",
              "displayName": "Principais produtos (separe por virgula):",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Possui DAP, CAF:",
              "displayName": "Possui DAP, CAF:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "A Produção atual é principalmente para:",
              "displayName": "A Produção atual é principalmente para:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Renda mensal gerada pela atividade: Valor exato em R$",
              "displayName": "Renda mensal gerada pela atividade: Valor exato em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você tem alguma dificuldade para produzir?",
              "displayName": "Você tem alguma dificuldade para produzir?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você tem alguma dificuldade para vender?",
              "displayName": "Você tem alguma dificuldade para vender?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Possui conta bancária?",
              "displayName": "Possui conta bancária?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Possui conta digital?",
              "displayName": "Possui conta digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Já tomou microcrédito?",
              "displayName": "Já tomou microcrédito?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tem Interesse em crédito produtivo?",
              "displayName": "Tem Interesse em crédito produtivo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Se sim, para qual finalidade?",
              "displayName": "Se sim, para qual finalidade?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Participa de organizações locais?",
              "displayName": "Participa de organizações locais?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Se sim, descrever o nome:",
              "displayName": "Se sim, descrever o nome:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Antes do início deste projeto, você já havia acessado alguma política pública de apoio à produção, comercialização ou geração de renda?",
              "displayName": "Antes do início deste projeto, você já havia acessado alguma política pública de apoio à produção, comercialização ou geração de renda?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quais políticas públicas você já acessou?",
              "displayName": "Quais políticas públicas você já acessou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Como foi o seu acesso a essas políticas públicas?",
              "displayName": "Como foi o seu acesso a essas políticas públicas?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você conhece políticas públicas estaduais ou municipais voltadas à sua atividade produtiva, mesmo que nunca tenha acessado?",
              "displayName": "Você conhece políticas públicas estaduais ou municipais voltadas à sua atividade produtiva, mesmo que nunca tenha acessado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quais foram ou são as principais dificuldades para acessar políticas públicas?",
              "displayName": "Quais foram ou são as principais dificuldades para acessar políticas públicas?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Na sua opinião, que tipo de política pública estadual ou municipal faria mais diferença para fortalecer sua atividade produtiva hoje?",
              "displayName": "Na sua opinião, que tipo de política pública estadual ou municipal faria mais diferença para fortalecer sua atividade produtiva hoje?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você acredita que este projeto pode ajudar a melhorar seu acesso a políticas públicas e apoios institucionais?",
              "displayName": "Você acredita que este projeto pode ajudar a melhorar seu acesso a políticas públicas e apoios institucionais?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você já realizou curso/capacitação para acessar o mercado de trabalho",
              "displayName": "Você já realizou curso/capacitação para acessar o mercado de trabalho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de acesso ao mercado de trabalho:",
              "displayName": "Se sim, descrever qual curso/capacitação de acesso ao mercado de trabalho:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "displayName": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "displayName": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp no formato: 63 9 9999 9999",
              "displayName": "whatsapp no formato: 63 9 9999 9999",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "displayName": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "displayName": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp no formato: 63 9 9999 9999",
              "displayName": "whatsapp no formato: 63 9 9999 9999",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0a13f831-ca51-473b-ac85-a9d086ee0dbd",
      "name": "Atualizar Aluno Existente",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pt2CSsDiojxbpscG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1590747257,
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit#gid=1590747257"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "CPF"
          ],
          "schema": [
            {
              "id": "Carimbo de data/hora",
              "displayName": "Carimbo de data/hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Endereço de e-mail",
              "displayName": "Endereço de e-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Li e concordo com o tratamento...",
              "displayName": "Li e concordo com o tratamento...",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome completo",
              "displayName": "Nome completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CPF",
              "displayName": "CPF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Município",
              "displayName": "Município",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bairro/Assentamento",
              "displayName": "Bairro/Assentamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Curso escolhido",
              "displayName": "Curso escolhido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data da entrevista",
              "displayName": "Data da entrevista",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sexo",
              "displayName": "Sexo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Idade (anos)",
              "displayName": "Idade (anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado civil",
              "displayName": "Estado civil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Número de pessoas que moram no domicílio",
              "displayName": "Número de pessoas que moram no domicílio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantas crianças (0–12 anos)",
              "displayName": "Quantas crianças (0–12 anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantos adolescentes (13–17 anos)",
              "displayName": "Quantos adolescentes (13–17 anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quantos idosos (60+ anos)",
              "displayName": "Quantos idosos (60+ anos)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qual é a sua cor ou raça?",
              "displayName": "Qual é a sua cor ou raça?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você se identifica como Quilombola?",
              "displayName": "Você se identifica como Quilombola?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escolaridade",
              "displayName": "Escolaridade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Está Inscrito no CadÚnico?",
              "displayName": "Está Inscrito no CadÚnico?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recebe algum benefício social?",
              "displayName": "Recebe algum benefício social?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A casa em que mora possui:",
              "displayName": "A casa em que mora possui:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você está:",
              "displayName": "Você está:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor exato da renda pessoal mensal em R$",
              "displayName": "Valor exato da renda pessoal mensal em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor exato da renda familiar mensal em R$",
              "displayName": "Valor exato da renda familiar mensal em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você hoje desenvolve alguma atividade produtiva?",
              "displayName": "Você hoje desenvolve alguma atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Atividade Produtiva",
              "displayName": "Atividade Produtiva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caso possua atividade agropecuária: Tamanho da área em m²",
              "displayName": "Caso possua atividade agropecuária: Tamanho da área em m²",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Principais produtos (separe por virgula):",
              "displayName": "Principais produtos (separe por virgula):",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Possui DAP, CAF:",
              "displayName": "Possui DAP, CAF:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "A Produção atual é principalmente para:",
              "displayName": "A Produção atual é principalmente para:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Renda mensal gerada pela atividade: Valor exato em R$",
              "displayName": "Renda mensal gerada pela atividade: Valor exato em R$",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você tem alguma dificuldade para produzir?",
              "displayName": "Você tem alguma dificuldade para produzir?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você tem alguma dificuldade para vender?",
              "displayName": "Você tem alguma dificuldade para vender?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Possui conta bancária?",
              "displayName": "Possui conta bancária?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Possui conta digital?",
              "displayName": "Possui conta digital?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Já tomou microcrédito?",
              "displayName": "Já tomou microcrédito?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tem Interesse em crédito produtivo?",
              "displayName": "Tem Interesse em crédito produtivo?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, para qual finalidade?",
              "displayName": "Se sim, para qual finalidade?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Participa de organizações locais?",
              "displayName": "Participa de organizações locais?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, descrever o nome:",
              "displayName": "Se sim, descrever o nome:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Antes do início deste projeto, você já havia acessado alguma política pública de apoio à produção, comercialização ou geração de renda?",
              "displayName": "Antes do início deste projeto, você já havia acessado alguma política pública de apoio à produção, comercialização ou geração de renda?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais políticas públicas você já acessou?",
              "displayName": "Quais políticas públicas você já acessou?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Como foi o seu acesso a essas políticas públicas?",
              "displayName": "Como foi o seu acesso a essas políticas públicas?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você conhece políticas públicas estaduais ou municipais voltadas à sua atividade produtiva, mesmo que nunca tenha acessado?",
              "displayName": "Você conhece políticas públicas estaduais ou municipais voltadas à sua atividade produtiva, mesmo que nunca tenha acessado?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Quais foram ou são as principais dificuldades para acessar políticas públicas?",
              "displayName": "Quais foram ou são as principais dificuldades para acessar políticas públicas?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Na sua opinião, que tipo de política pública estadual ou municipal faria mais diferença para fortalecer sua atividade produtiva hoje?",
              "displayName": "Na sua opinião, que tipo de política pública estadual ou municipal faria mais diferença para fortalecer sua atividade produtiva hoje?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você acredita que este projeto pode ajudar a melhorar seu acesso a políticas públicas e apoios institucionais?",
              "displayName": "Você acredita que este projeto pode ajudar a melhorar seu acesso a políticas públicas e apoios institucionais?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você já realizou curso/capacitação para acessar o mercado de trabalho",
              "displayName": "Você já realizou curso/capacitação para acessar o mercado de trabalho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de acesso ao mercado de trabalho:",
              "displayName": "Se sim, descrever qual curso/capacitação de acesso ao mercado de trabalho:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "displayName": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "displayName": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp no formato: 63 9 9999 9999",
              "displayName": "whatsapp no formato: 63 9 9999 9999",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "displayName": "Você já realizou curso/capacitação para desenvolver a sua atividade produtiva?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "displayName": "Se sim, descrever qual curso/capacitação de desenvolvimento:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp no formato: 63 9 9999 9999",
              "displayName": "whatsapp no formato: 63 9 9999 9999",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "09127ef2-39ce-4532-9182-4f82edf8c133",
      "name": "Criar Novo Aluno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pt2CSsDiojxbpscG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "Aluno_ID",
              "value": "={{ $('Formatar WhatsApp e Data').item.json.CPF }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "Curso_ID",
              "value": "={{ $('Formatar WhatsApp e Data').item.json.Curso_Escolhido }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "Aluno_Status",
              "value": "novo",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "Proximo_Bloco_Curso",
              "value": "m1-start-block",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "Data_Inicio",
              "value": "={{ $('Formatar WhatsApp e Data').item.json.Data_Inicio }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1819f02a-5841-45d2-8b53-0ad0c3a27e7c",
      "name": "Preparar Dados Progresso",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8",
          "mode": "list",
          "cachedResultName": "Alunos_TDS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1msuohTMWKSERPaLQDm90qcU9aeb6OcVKGdxooOezOUc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Progresso_Cursos"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Aluno_ID": "={{ $json.Aluno_ID }}",
            "Curso_ID": "={{ $json.Curso_ID }}",
            "Aluno_Status": "={{ $json.Aluno_Status }}",
            "Proximo_Bloco_Curso": "={{ $json.Proximo_Bloco_Curso }}",
            "Data_Inicio": "={{ $json.Data_Inicio }}"
          },
          "matchingColumns": [
            "Aluno_ID"
          ],
          "schema": [
            {
              "id": "Aluno_ID",
              "displayName": "Aluno_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Curso_ID",
              "displayName": "Curso_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Aluno_Status",
              "displayName": "Aluno_Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Proximo_Bloco_Curso",
              "displayName": "Proximo_Bloco_Curso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Data_Inicio",
              "displayName": "Data_Inicio",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d597627d-2037-4a1b-93e8-8f2932fb7e66",
      "name": "Criar Registro Progresso",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        -48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pt2CSsDiojxbpscG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "phone_number",
              "value": "={{ $('Formatar WhatsApp e Data').item.json.Whatsapp_Formatado }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "message_text",
              "value": "=Bem-vindo, {{ $('Formatar WhatsApp e Data').item.json.Nome_Completo }}! Sua matrícula no {{ $('Formatar WhatsApp e Data').item.json.Curso_Escolhido }} foi confirmada. Inicie no Typebot: {{ $('Workflow Configuration').item.json.typebot_link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "136128db-723c-44dd-aa6b-714e33126eb0",
      "name": "Preparar Mensagem WhatsApp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.phone_number }}",
        "textBody": "={{ $json.message_text }}",
        "additionalFields": {}
      },
      "id": "f899469f-b8d8-4b31-b99d-90398565ee4a",
      "name": "Enviar Boas-Vindas WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        848,
        -48
      ],
      "webhookId": "1ba688b6-ded6-4a32-a8eb-7ff47139418e"
    },
    {
      "parameters": {},
      "id": "6269fcb3-cc16-4ffa-83a0-39ad8d5db9f1",
      "name": "Erro no Processamento",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1392,
        272
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "error_message",
              "value": "={{ $json.error.message }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "error_node",
              "value": "={{ $json.error.node.name }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "error_timestamp",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "workflow_name",
              "value": "Processar Matrícula TDS",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "equipe_email",
              "value": "={{ $('Workflow Configuration').item.json.equipe_email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "be65d3ab-970e-4313-99a9-c7635551b370",
      "name": "Preparar Email Erro",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        272
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.equipe_email }}",
        "subject": "=ERRO no Workflow: {{ $json.workflow_name }}",
        "emailType": "text",
        "message": "=Ocorreu um erro no processamento de matrícula TDS:\n\nNode com erro: {{ $json.error_node }}\nMensagem: {{ $json.error_message }}\nTimestamp: {{ $json.error_timestamp }}\n\nPor favor, verifique o workflow no n8n.",
        "options": {
          "senderName": "n8n TDS Automation"
        }
      },
      "id": "7a6ddecf-2138-4caa-839a-95b43f8d7203",
      "name": "Notificar Equipe por Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -944,
        272
      ],
      "webhookId": "3242c72a-3f52-49f4-8968-b656c0edfe5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOLcZEg0Iooy7mEC",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Nova Matrícula TDS": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Extrair Campos Chave",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Campos Chave": {
      "main": [
        [
          {
            "node": "Formatar WhatsApp e Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar WhatsApp e Data": {
      "main": [
        [
          {
            "node": "Verificar CPF Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar CPF Existente": {
      "main": [
        [
          {
            "node": "CPF Já Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPF Já Existe?": {
      "main": [
        [
          {
            "node": "Atualizar Aluno Existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Novo Aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Aluno Existente": {
      "main": [
        [
          {
            "node": "Preparar Dados Progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Novo Aluno": {
      "main": [
        [
          {
            "node": "Preparar Dados Progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados Progresso": {
      "main": [
        [
          {
            "node": "Criar Registro Progresso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Registro Progresso": {
      "main": [
        [
          {
            "node": "Preparar Mensagem WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar Boas-Vindas WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erro no Processamento": {
      "main": [
        [
          {
            "node": "Preparar Email Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Erro": {
      "main": [
        [
          {
            "node": "Notificar Equipe por Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d7969bed-ea5b-4286-b01f-9c84a13f6785",
  "meta": {
    "instanceId": "64c85563f8801776ecae6fead267bb9541ce9a04b035dc757f1710cb52d2b82f"
  },
  "id": "EH7TRedPsH1I_MCEAhNgr",
  "tags": []
}