fluxos_n8n/TDS - Consultar Cursos do Aluno (Final).json
{
  "name": "TDS - Consultar Cursos do Aluno (Final)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "/webhook/get-cursos-por-aluno", "options": {} },
      "id": "b1a2-4c3d-8e9f-a0b1c2d3e4f5",
      "name": "Webhook - Receber ID do Aluno",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [ -800, 300 ]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "whatsapp_id", "value": "={{ $json.body.whatsapp_id }}", "type": "string" },
            { "id": "id-2", "name": "spreadsheet_id", "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8", "type": "string" }
      ]}},
      "id": "c2d3-5e4f-9a0b-b1c2d3e4f5a6",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [ -550, 300 ]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Progresso_Cursos" },
        "filtersUI": { "values": [ { "lookupColumn": "Aluno_ID", "lookupValue": "={{ $('Workflow Configuration').item.json.whatsapp_id }}" } ] },
        "options": {}
      },
      "id": "d3e4-6f5a-0b1c-c2d3e4f5a6b7",
      "name": "Buscar Cursos do Aluno",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [ -300, 300 ],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
        "parameters": {
            "jsCode": "const items = $input.all();\nconst cursosAtivos = items\n  .filter(item => item.json.Aluno_Status === 'em_andamento' || item.json.Aluno_Status === 'novo')\n  .map(item => ({\n    id: item.json.Curso_ID,\n    nome: item.json.Curso_Nome || item.json.Curso_ID
  }));\n\nconst uniqueCursos = Array.from(new Map(cursosAtivos.map(item => [item.id, item])).values());\n\n// Adiciona a contagem total para o Typebot\nreturn { json: { total: uniqueCursos.length, cursos: uniqueCursos } };"
        },
        "id": "e4f5-7a6b-1c2d-d3e4f5a6b7c8",
        "name": "Formatar Cursos e Adicionar Contagem",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [ -50, 300 ]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ $('Formatar Cursos e Adicionar Contagem').item.json }}", "options": {} },
      "id": "f5a6-8b7c-2d3e-e4f5a6b7c8d9",
      "name": "Responder ao Typebot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [ 200, 300 ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Receber ID do Aluno": { "main": [ [ { "node": "Workflow Configuration", "type": "main", "index": 0 } ] ] },
    "Workflow Configuration": { "main": [ [ { "node": "Buscar Cursos do Aluno", "type": "main", "index": 0 } ] ] },
    "Buscar Cursos do Aluno": { "main": [ [ { "node": "Formatar Cursos e Adicionar Contagem", "type": "main", "index": 0 } ] ] },
    "Formatar Cursos e Adicionar Contagem": { "main": [ [ { "node": "Responder ao Typebot", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}