fluxos_n8n/TDS – Monitoramento Trilhas e Alertas Corrigido.json
{
  "name": "TDS – Monitoramento Trilhas e Alertas (Corrigido)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "triggerAtHour": 8 } ] } },
      "id": "bf005059-f85b-4f84-adaf-a8c728c718ce",
      "name": "Cron Diário - Monitoramento",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1616, 80]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "DIAS_LIMITE_PROGRESSO", "value": 5, "type": "number" },
            { "id": "id-2", "name": "SPREADSHEET_ID", "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8", "type": "string" },
            { "id": "id-3", "name": "EMAIL_DESTINATARIO", "value": "seu_email@exemplo.com", "type": "string" },
            { "id": "id-4", "name": "WHATSAPP_NUMERO_EQUIPE", "value": "5563999999999", "type": "string" },
            { "id": "id-5", "name": "SLACK_CHANNEL_ID", "value": "C0123456ABC", "type": "string" }
      ]}},
      "id": "367bbd82-a76f-4fc7-abd9-6c6145350cfb",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1392, 80]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "={{ $('Workflow Configuration').item.json.SPREADSHEET_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Progresso_Cursos", "mode": "name" },
        "options": {}
      },
      "id": "d0c8637c-ad2a-4cd0-a910-0ff39694c79d",
      "name": "Ler Progresso_Cursos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1168, -20],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Alunos_TDS" },
        "options": {}
      },
      "id": "a2454d93-48fb-4f72-ba46-27900cc91c1a",
      "name": "Ler Alunos_TDS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1168, 180],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": { "mode": "merge", "key1": "Aluno_ID", "key2": "CPF", "options": {} },
      "id": "12416cd1-755e-461c-b375-9b687f240ce5",
      "name": "Combinar Dados Alunos + Progresso",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-944, 80]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item.json;
const today = new Date();
const lastUpdateStr = item.Data_Atualizacao || item.Data_Inicio;
let diffDays = 0;
if (lastUpdateStr) {
  let lastUpdateDate;
  if (lastUpdateStr.includes('/')) {
    const [day, month, year] = lastUpdateStr.split('/');
    lastUpdateDate = new Date(year, month - 1, day);
  } else {
    lastUpdateDate = new Date(lastUpdateStr);
  }
  diffDays = Math.floor((today - lastUpdateDate) / (1000 * 60 * 60 * 24));
}
item.dias_sem_progresso = diffDays;
return item;"
      },
      "id": "0ec6dca5-e859-4979-a6af-cd392852d49c",
      "name": "Calcular Dias Sem Progresso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 80]
    },
    {
      "parameters": { "conditions": { "conditions": [
        { "id": "id-1", "leftValue": "={{ $json.dias_sem_progresso }}", "rightValue": "={{ $('Workflow Configuration').item.json.DIAS_LIMITE_PROGRESSO }}", "operator": { "type": "number", "operation": "gte" }},
        { "id": "id-2", "leftValue": "={{ $json.Aluno_Status }}", "rightValue": "em_andamento", "operator": { "type": "string", "operation": "equals" }}
      ]}},
      "id": "01a1dcd3-5649-47cd-9f83-2975dd994d7c",
      "name": "Filtrar Progresso Lento (>5 dias)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-496, 80]
    },
    {
      "parameters": { "batchSize": 50, "options": {} },
      "id": "7946bb0f-98b1-4f6c-a203-d2bc5ca39113",
      "name": "Loop Sobre Alunos Lentos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-272, 80]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.SPREADSHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Progresso_Cursos" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Notas_Observacoes": "={{ $json.Notas_Observacoes ? $json.Notas_Observacoes + ' | ' : '' }}Alerta de inatividade: {{ $json.dias_sem_progresso }} dias sem progresso no bloco {{ $json.Proximo_Bloco_Curso }}. ({{ $now.toFormat('dd/MM/yyyy') }})" },
          "matchingColumns": [ "row_number" ]
        }
      },
      "id": "7863f60d-96d1-47df-b0ea-5d0e5c8ec51e",
      "name": "Atualizar Notas_Observacoes (Progresso Lento)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-48, 180],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
        "parameters": {
            "jsCode": "// Este nó agrega os dados para o relatório final.
const items = $input.all();
return items;"
        },
        "id": "AGGREGATE_NODE",
        "name": "Aggregate All Slow Students",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [-48, -20]
    },
    {
      "parameters": { "sendTo": "={{ $('Workflow Configuration').item.json.EMAIL_DESTINATARIO }}", "subject": "Relatório Diário - Alunos com Progresso Lento", "message": "Corpo do email a ser gerado pelo próximo nó" },
      "id": "68d71f0b-c07f-4822-8877-e9dea2e8819e",
      "name": "Enviar Relatório Diário por Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [176, -20],
      "credentials": { "gmailOAuth2": { "id": "YOLcZEg0Iooy7mEC", "name": "Gmail account" } }
    },
    {
      "parameters": { "httpMethod": "POST", "path": "webhook/monitorar-trilha", "options": {} },
      "id": "793e5bff-8118-4e66-bdc0-6fe88f2e6593",
      "name": "Webhook - Feedback Typebot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-1616, 480],
      "webhookId": "3fda6715-3049-4760-8af9-ce1124804773"
    },
    {
      "parameters": { "operation": "update", "documentId": { }, "sheetName": { }, "columns": { } },
      "id": "895411d9-40fc-4bcb-8500-2ca54b3446a6",
      "name": "Atualizar Notas_Observacoes (Feedback)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-1168, 480],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    }
  ],
  "pinData": {},
  "connections": {
      "Cron Diário - Monitoramento": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
      "Workflow Configuration": { "main": [[{ "node": "Ler Progresso_Cursos", "type": "main", "index": 0 }], [{ "node": "Ler Alunos_TDS", "type": "main", "index": 0 }]]},
      "Ler Progresso_Cursos": { "main": [[{ "node": "Combinar Dados Alunos + Progresso", "type": "main", "index": 0 }]] },
      "Ler Alunos_TDS": { "main": [[{ "node": "Combinar Dados Alunos + Progresso", "type": "main", "index": 1 }]] },
      "Combinar Dados Alunos + Progresso": { "main": [[{ "node": "Calcular Dias Sem Progresso", "type": "main", "index": 0 }]] },
      "Calcular Dias Sem Progresso": { "main": [[{ "node": "Filtrar Progresso Lento (>5 dias)", "type": "main", "index": 0 }]] },
      "Filtrar Progresso Lento (>5 dias)": { "main": [[{ "node": "Loop Sobre Alunos Lentos", "type": "main", "index": 0 }]] },
      "Loop Sobre Alunos Lentos": { "main": [[{ "node": "Atualizar Notas_Observacoes (Progresso Lento)", "type": "main", "index": 0 }], [{ "node": "Aggregate All Slow Students", "type": "main", "index": 0 }]]},
      "Aggregate All Slow Students": { "main": [[{ "node": "Enviar Relatório Diário por Email", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}