fluxos_n8n/TDS – Lembrete Inatividade Corrigido.json
{
  "name": "TDS – Lembrete Inatividade (Corrigido)",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [ { "triggerAtHour": 18 } ] } },
      "id": "0b87429f-4c23-472a-bfb4-c6550691954b",
      "name": "Daily Check at 6 PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1000, 512]
    },
    {
      "parameters": { "assignments": { "assignments": [
            { "id": "id-1", "name": "spreadsheet_id", "value": "1dk0g3CIxLI9qbbemS9VCy10w52KN1H_RBxnQLMi_wa8", "type": "string" },
            { "id": "id-2", "name": "inactivity_threshold_days", "value": 3, "type": "number" },
            { "id": "id-3", "name": "typebot_link", "value": "https://typebot.io/seu-curso-tds", "type": "string" }
      ]}},
      "id": "ddd75773-f6dc-4689-b54f-6d01edb4aa5c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-800, 512]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Progresso_Cursos", "mode": "name" },
        "options": {}
      },
      "id": "9f90ab0b-2d53-4e05-b202-f180873606e5",
      "name": "Read Progresso_Cursos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-600, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Alunos_TDS", "mode": "name" },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-e1f2a3b4c5d6",
      "name": "Read Alunos_TDS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-600, 600],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "mode": "merge",
        "key1": "Aluno_ID",
        "key2": "CPF",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-f2a3b4c5d6e7",
      "name": "Merge Alunos e Progresso",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-400, 512]
    },
    {
      "parameters": { "conditions": { "conditions": [
        { "id": "id-1", "leftValue": "={{ $json.Aluno_Status }}", "rightValue": "em_andamento", "operator": { "type": "string", "operation": "equals" }}
      ]}},
      "id": "5c7e0eed-63c0-4088-a991-a4faf5d2fa14",
      "name": "Check Status = em_andamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-200, 512]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const today = new Date();\nconst lastUpdateStr = $input.item.json.Data_Atualizacao || $input.item.json.Data_Inicio;\nif (!lastUpdateStr) {\n  return { json: { ...$input.item.json, daysSinceLastUpdate: 0 } };\n}\n\nlet lastUpdateDate;\nif (lastUpdateStr.includes('/')) {\n  const [day, month, year] = lastUpdateStr.split('/');\n  lastUpdateDate = new Date(year, month - 1, day);\n} else {\n  lastUpdateDate = new Date(lastUpdateStr);\n}\n\nconst diffTime = Math.abs(today - lastUpdateDate);\nconst diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));\n\nreturn { json: { ...$input.item.json, daysSinceLastUpdate: diffDays } };"
      },
      "id": "04123d34-3402-4ccc-9045-c5d02855c826",
      "name": "Calculate Days Since Last Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 512]
    },
    {
      "parameters": { "conditions": { "conditions": [
        { "id": "id-1", "leftValue": "={{ $json.daysSinceLastUpdate }}", "rightValue": "={{$('Workflow Configuration').item.json.inactivity_threshold_days}}", "operator": { "type": "number", "operation": "gte" }}
      ]}},
      "id": "5c22e690-dba8-41de-a54a-ed8b077a7b08",
      "name": "Check if Inactive",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [200, 512]
    },
    {
      "parameters": {
        "operation": "send",
        "recipientPhoneNumber": "={{ $json.Whatsapp }}",
        "textBody": "Oi {{ $json.Nome_Completo }}! Notamos que você não progride no curso '{{ $json.Curso_ID }}' há alguns dias. Que tal continuar de onde parou? Acesse aqui: {{ $('Workflow Configuration').item.json.typebot_link }}",
        "additionalFields": {}
      },
      "id": "32be6836-cc52-470b-b09e-54367969befa",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [400, 400],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $('Workflow Configuration').item.json.spreadsheet_id }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Progresso_Cursos" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "Notas_Observacoes": "={{ $json.Notas_Observacoes ? $json.Notas_Observacoes + ' | ' : '' }}Lembrete de inatividade enviado em {{ $now.toFormat('dd/MM/yyyy') }}" },
          "matchingColumns": [ "row_number" ]
        }
      },
      "id": "4c40777b-986e-4454-8cd2-bab01184a6ce",
      "name": "Update Notas_Observacoes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [600, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "pt2CSsDiojxbpscG", "name": "Google Sheets account" } }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Check at 6 PM": { "main": [ [ { "node": "Workflow Configuration", "type": "main", "index": 0 } ] ] },
    "Workflow Configuration": { "main": [ [ { "node": "Read Progresso_Cursos", "type": "main", "index": 0 } ], [ { "node": "Read Alunos_TDS", "type": "main", "index": 0 } ] ] },
    "Read Progresso_Cursos": { "main": [ [ { "node": "Merge Alunos e Progresso", "type": "main", "index": 0 } ] ] },
    "Read Alunos_TDS": { "main": [ [ { "node": "Merge Alunos e Progresso", "type": "main", "index": 1 } ] ] },
    "Merge Alunos e Progresso": { "main": [ [ { "node": "Check Status = em_andamento", "type": "main", "index": 0 } ] ] },
    "Check Status = em_andamento": { "main": [ [ { "node": "Calculate Days Since Last Update", "type": "main", "index": 0 } ] ] },
    "Calculate Days Since Last Update": { "main": [ [ { "node": "Check if Inactive", "type": "main", "index": 0 } ] ] },
    "Check if Inactive": { "main": [ [ { "node": "Send WhatsApp Reminder", "type": "main", "index": 0 } ] ] },
    "Send WhatsApp Reminder": { "main": [ [ { "node": "Update Notas_Observacoes", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "tags": [{"id": "1", "name": "TDS"}]
}