workflow_from_api.json
{"updatedAt":"2026-02-19T14:03:19.462Z","createdAt":"2026-02-19T11:47:25.001Z","id":"TVYcwBvRkHKWjhrC","name":"Kreativ: AI Cognitive Router","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ai-router","responseMode":"onReceived","options":{}},"id":"webhook-start","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,340],"webhookId":"kreativ-ai-router"},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Router Start: \" + $json.body.phone + \"')\" }}"},"id":"log-start","name":"Log Start","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,340],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Webhook\"].json.body.body }}","operation":"contains","value2":"humano"},{"value1":"={{ $node[\"Webhook\"].json.body.body }}","operation":"contains","value2":"suporte"}]},"combinator":"or"},"id":"if-regex","name":"Check Keywords","type":"n8n-nodes-base.if","typeVersion":1,"position":[700,340]},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT name, course_id, current_module FROM students WHERE phone = '\" + $node[\"Webhook\"].json.body.phone + \"' LIMIT 1\" }}"},"id":"get-student","name":"Get Student Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[920,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Student Found: \" + ($json.name || \"Not Found\") + \"')\" }}"},"id":"log-student","name":"Log Student","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1140,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT title, content_text, evaluation_rubric FROM modules WHERE course_id = '\" + $node[\"Get Student Context\"].json.course_id + \"' AND module_number = \" + $node[\"Get Student Context\"].json.current_module + \" LIMIT 1\" }}"},"id":"get-module","name":"Get Module Content","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Module Found: \" + ($json.title || \"None\") + \"')\" }}"},"id":"log-module","name":"Log Module","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1580,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'deepseek/deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: `Você é o Tutor IA da Kreativ Educação.\n      CONTEXTO DO ALUNO:\n      Nome: ${$node[\"Get Student Context\"].json.name || 'Estudante'}\n      Curso: ${$node[\"Get Student Context\"].json.course_id || 'default'}\n      Módulo: ${$node[\"Get Student Context\"].json.current_module || 1} - ${$node[\"Get Module Content\"].json.title || 'Iniciação'}\n\n      CONTEÚDO DO MÓDULO:\n      ${$node[\"Get Module Content\"].json.content_text || 'O aluno está iniciando. Apresente-se e pergunte se ele está pronto para começar.'}\n\n      DIRETRIZES:\n      1. Seja amigável e use o nome do aluno.\n      2. Responda dúvidas baseando-se APENAS no conteúdo do módulo fornecido.\n      3. Após explicar um conceito (Pílula de Conhecimento), faça uma pergunta rápida de teste para verificar o aprendizado.\n      4. Responda SEMPRE em JSON: { \"action\": \"reply\"|\"handover\", \"text\": \"...\" }.\n      5. Se o aluno pedir um humano ou suporte técnico, use action=\"handover\".` \n    },\n    {\n      role: 'user',\n      content: $node[\"Webhook\"].json.body.body \n    }\n  ]\n}) }}","options":{"timeout":35000}},"id":"openrouter-api","name":"OpenRouter API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1800,540]},{"parameters":{"jsCode":"if ($json.error) return [{ json: { action: 'reply', text: 'Tive um probleminha técnico. Pode repetir?' } }];\nconst res = $json.choices[0].message.content;\ntry {\n  const clean = res.replace(/```json/g, '').replace(/```/g, '').trim();\n  return [{ json: JSON.parse(clean) }];\n} catch (e) {\n  return [{ json: { action: 'reply', text: res } }];\n}"},"id":"parse-llm","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,540]},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('LLM Reply: \" + $json.action + \"')\" }}"},"id":"log-reply","name":"Log Reply","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Parse Response\"].json.action }}","value2":"handover"}]}},"id":"if-handover","name":"If Handover","type":"n8n-nodes-base.if","typeVersion":1,"position":[2460,540]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/request-human-support","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $node[\"Webhook\"].json.body.phone, reason: 'Solicitado via Tutor IA' }) }}"},"id":"trigger-handoff","name":"Trigger Support","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,440]},{"parameters":{"method":"POST","url":"http://kreativ_builderbot:3008/api/send","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $node[\"Webhook\"].json.body.phone, message: $node[\"Parse Response\"].json.text }) }}"},"id":"send-reply","name":"Send WhatsApp Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,640]}],"connections":{"Webhook":{"main":[[{"node":"Log Start","type":"main","index":0}]]},"Log Start":{"main":[[{"node":"Check Keywords","type":"main","index":0}]]},"Check Keywords":{"main":[[{"node":"Trigger Support","type":"main","index":0}],[{"node":"Get Student Context","type":"main","index":0}]]},"Get Student Context":{"main":[[{"node":"Log Student","type":"main","index":0}]]},"Log Student":{"main":[[{"node":"Get Module Content","type":"main","index":0}]]},"Get Module Content":{"main":[[{"node":"Log Module","type":"main","index":0}]]},"Log Module":{"main":[[{"node":"OpenRouter API","type":"main","index":0}]]},"OpenRouter API":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Log Reply","type":"main","index":0}]]},"Log Reply":{"main":[[{"node":"If Handover","type":"main","index":0}]]},"If Handover":{"main":[[{"node":"Trigger Support","type":"main","index":0}],[{"node":"Send WhatsApp Reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"3e589b47-c70e-40a0-97b2-d1bd3425972d","activeVersionId":"3e589b47-c70e-40a0-97b2-d1bd3425972d","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T11:47:25.001Z","createdAt":"2026-02-19T11:47:25.001Z","role":"workflow:owner","workflowId":"TVYcwBvRkHKWjhrC","projectId":"q7Bjn5D4LxM4OjYW","project":{"updatedAt":"2026-02-17T20:41:01.829Z","createdAt":"2026-02-17T20:32:16.109Z","id":"q7Bjn5D4LxM4OjYW","name":"Rafael da Silva <rafael.luciano@mail.uft.edu.br>","type":"personal","icon":null,"description":null,"creatorId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-19T14:03:19.465Z","createdAt":"2026-02-19T14:03:19.465Z","versionId":"3e589b47-c70e-40a0-97b2-d1bd3425972d","workflowId":"TVYcwBvRkHKWjhrC","nodes":[{"parameters":{"httpMethod":"POST","path":"ai-router","responseMode":"onReceived","options":{}},"id":"webhook-start","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[260,340],"webhookId":"kreativ-ai-router"},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Router Start: \" + $json.body.phone + \"')\" }}"},"id":"log-start","name":"Log Start","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[480,340],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Webhook\"].json.body.body }}","operation":"contains","value2":"humano"},{"value1":"={{ $node[\"Webhook\"].json.body.body }}","operation":"contains","value2":"suporte"}]},"combinator":"or"},"id":"if-regex","name":"Check Keywords","type":"n8n-nodes-base.if","typeVersion":1,"position":[700,340]},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT name, course_id, current_module FROM students WHERE phone = '\" + $node[\"Webhook\"].json.body.phone + \"' LIMIT 1\" }}"},"id":"get-student","name":"Get Student Context","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[920,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Student Found: \" + ($json.name || \"Not Found\") + \"')\" }}"},"id":"log-student","name":"Log Student","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1140,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"SELECT title, content_text, evaluation_rubric FROM modules WHERE course_id = '\" + $node[\"Get Student Context\"].json.course_id + \"' AND module_number = \" + $node[\"Get Student Context\"].json.current_module + \" LIMIT 1\" }}"},"id":"get-module","name":"Get Module Content","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1360,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('Module Found: \" + ($json.title || \"None\") + \"')\" }}"},"id":"log-module","name":"Log Module","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1580,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  model: 'deepseek/deepseek-chat',\n  messages: [\n    {\n      role: 'system',\n      content: `Você é o Tutor IA da Kreativ Educação.\n      CONTEXTO DO ALUNO:\n      Nome: ${$node[\"Get Student Context\"].json.name || 'Estudante'}\n      Curso: ${$node[\"Get Student Context\"].json.course_id || 'default'}\n      Módulo: ${$node[\"Get Student Context\"].json.current_module || 1} - ${$node[\"Get Module Content\"].json.title || 'Iniciação'}\n\n      CONTEÚDO DO MÓDULO:\n      ${$node[\"Get Module Content\"].json.content_text || 'O aluno está iniciando. Apresente-se e pergunte se ele está pronto para começar.'}\n\n      DIRETRIZES:\n      1. Seja amigável e use o nome do aluno.\n      2. Responda dúvidas baseando-se APENAS no conteúdo do módulo fornecido.\n      3. Após explicar um conceito (Pílula de Conhecimento), faça uma pergunta rápida de teste para verificar o aprendizado.\n      4. Responda SEMPRE em JSON: { \"action\": \"reply\"|\"handover\", \"text\": \"...\" }.\n      5. Se o aluno pedir um humano ou suporte técnico, use action=\"handover\".` \n    },\n    {\n      role: 'user',\n      content: $node[\"Webhook\"].json.body.body \n    }\n  ]\n}) }}","options":{"timeout":35000}},"id":"openrouter-api","name":"OpenRouter API","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1800,540]},{"parameters":{"jsCode":"if ($json.error) return [{ json: { action: 'reply', text: 'Tive um probleminha técnico. Pode repetir?' } }];\nconst res = $json.choices[0].message.content;\ntry {\n  const clean = res.replace(/```json/g, '').replace(/```/g, '').trim();\n  return [{ json: JSON.parse(clean) }];\n} catch (e) {\n  return [{ json: { action: 'reply', text: res } }];\n}"},"id":"parse-llm","name":"Parse Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2020,540]},{"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO debug_log (message) VALUES ('LLM Reply: \" + $json.action + \"')\" }}"},"id":"log-reply","name":"Log Reply","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2240,540],"credentials":{"postgres":{"id":"lJaeEy4CpHbhgMAp","name":"Kreativ PostgreSQL"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $node[\"Parse Response\"].json.action }}","value2":"handover"}]}},"id":"if-handover","name":"If Handover","type":"n8n-nodes-base.if","typeVersion":1,"position":[2460,540]},{"parameters":{"method":"POST","url":"http://localhost:5678/webhook/request-human-support","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $node[\"Webhook\"].json.body.phone, reason: 'Solicitado via Tutor IA' }) }}"},"id":"trigger-handoff","name":"Trigger Support","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,440]},{"parameters":{"method":"POST","url":"http://kreativ_builderbot:3008/api/send","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $node[\"Webhook\"].json.body.phone, message: $node[\"Parse Response\"].json.text }) }}"},"id":"send-reply","name":"Send WhatsApp Reply","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2680,640]}],"connections":{"Webhook":{"main":[[{"node":"Log Start","type":"main","index":0}]]},"Log Start":{"main":[[{"node":"Check Keywords","type":"main","index":0}]]},"Check Keywords":{"main":[[{"node":"Trigger Support","type":"main","index":0}],[{"node":"Get Student Context","type":"main","index":0}]]},"Get Student Context":{"main":[[{"node":"Log Student","type":"main","index":0}]]},"Log Student":{"main":[[{"node":"Get Module Content","type":"main","index":0}]]},"Get Module Content":{"main":[[{"node":"Log Module","type":"main","index":0}]]},"Log Module":{"main":[[{"node":"OpenRouter API","type":"main","index":0}]]},"OpenRouter API":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Log Reply","type":"main","index":0}]]},"Log Reply":{"main":[[{"node":"If Handover","type":"main","index":0}]]},"If Handover":{"main":[[{"node":"Trigger Support","type":"main","index":0}],[{"node":"Send WhatsApp Reply","type":"main","index":0}]]}},"authors":"Rafael da Silva","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-19T14:03:19.512Z","id":983,"workflowId":"TVYcwBvRkHKWjhrC","versionId":"3e589b47-c70e-40a0-97b2-d1bd3425972d","event":"deactivated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"},{"createdAt":"2026-02-19T14:03:19.527Z","id":984,"workflowId":"TVYcwBvRkHKWjhrC","versionId":"3e589b47-c70e-40a0-97b2-d1bd3425972d","event":"activated","userId":"d7e6ecc8-7259-4124-87c7-29a5f2d233ba"}]}}