n8n-workflows/02-get-student-module.json
{
  "name": "BuilderBot: get-student-module",
  "nodes": [
    {
      "id": "wh-module",
      "name": "Webhook get-student-module",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "get-student-module",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kreativ-get-student-module"
    },
    {
      "id": "code-extract",
      "name": "Extrair telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "try {\n  const body = $input.item.json.body ?? $input.item.json;\n  const phone = String(body.phone ?? '').replace(/\\D/g, '');\n  if (!phone) {\n    return [{ json: { phone: '', error: 'phone é obrigatório' } }];\n  }\n  return [{ json: { phone, error: null } }];\n} catch (e) {\n  return [{ json: { phone: '', error: e.message } }];\n}"
      }
    },
    {
      "id": "pg-upsert",
      "name": "Criar ou atualizar aluno",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        680,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO students (phone, current_module, attendance_status) VALUES ('{{ $json.phone }}', 1, 'bot') ON CONFLICT (phone) DO UPDATE SET updated_at = NOW() RETURNING id, phone, current_module, attendance_status, name",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-determine-module",
      "name": "Determinar módulo atual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "try {\n  const phone = $('Extrair telefone').item.json.phone;\n  const row = $input.item.json;\n  const currentModule = parseInt(String(row.current_module ?? '1'), 10) || 1;\n  return [{ json: { phone, currentModule } }];\n} catch (e) {\n  const phone = $('Extrair telefone').item.json.phone ?? '';\n  return [{ json: { phone, currentModule: 1 } }];\n}"
      }
    },
    {
      "id": "pg-get-module",
      "name": "Buscar conteúdo do módulo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT module_number, title, content_text, evaluation_rubric FROM modules WHERE module_number = {{ $json.currentModule }} AND is_active = true ORDER BY CASE WHEN course_id = 'default' THEN 0 ELSE 1 END LIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "code-response",
      "name": "Montar resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ],
      "parameters": {
        "jsCode": "try {\n  const { phone, currentModule } = $('Determinar módulo atual').item.json;\n  const rows = $input.all();\n  const row = rows[0]?.json;\n\n  // Verifica se temos dados válidos do módulo\n  const hasModuleData = row && row.title && !row.message;\n\n  if (!hasModuleData) {\n    return [{\n      json: {\n        moduleNumber: currentModule,\n        title: `Módulo ${currentModule}`,\n        content: `Conteúdo do módulo ${currentModule} em preparação.`,\n        evaluationRubric: 'Módulo em preparação. Avaliação não disponível.',\n        _fallback: true\n      }\n    }];\n  }\n\n  return [{\n    json: {\n      moduleNumber: row.module_number,\n      title: row.title,\n      content: row.content_text ?? 'Conteúdo em preparação.',\n      evaluationRubric: row.evaluation_rubric ?? 'Demonstrar entendimento do conteúdo compartilhado.'\n    }\n  }];\n} catch (e) {\n  // Fallback seguro — NUNCA deixa o respondToWebhook sem dados\n  return [{\n    json: {\n      moduleNumber: 1,\n      title: 'Erro ao carregar módulo',\n      content: 'Houve um problema ao carregar o conteúdo. Por favor, tente novamente em alguns instantes.',\n      evaluationRubric: 'Erro interno ao carregar rubrica.',\n      _error: e.message\n    }\n  }];\n}"
      }
    },
    {
      "id": "respond-module",
      "name": "Responder BuilderBot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook get-student-module": {
      "main": [
        [
          {
            "node": "Extrair telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair telefone": {
      "main": [
        [
          {
            "node": "Criar ou atualizar aluno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar ou atualizar aluno": {
      "main": [
        [
          {
            "node": "Determinar módulo atual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determinar módulo atual": {
      "main": [
        [
          {
            "node": "Buscar conteúdo do módulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conteúdo do módulo": {
      "main": [
        [
          {
            "node": "Montar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar resposta": {
      "main": [
        [
          {
            "node": "Responder BuilderBot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}