n8n-workflows/20-ai-router-v3.json
{
    "name": "Kreativ: AI Adaptive Router V3 (Redis Memory + RAG)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-tutor-v3",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-start",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [100, 300],
            "webhookId": "kreativ-ai-tutor-v3"
        },
        {
            "parameters": {
                "jsCode": "const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "transformer",
            "name": "Transformer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [280, 300]
        },
        {
            "id": "rd-get-history",
            "name": "Redis: Get History",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [460, 300],
            "parameters": {
                "operation": "lrange",
                "key": "={{ \"chat_history:\" + $json.phone }}",
                "start": 0,
                "stop": 9
            },
            "credentials": {
                "redis": {
                    "id": "GDNQ9fUq1chyneTT",
                    "name": "Kreativ Redis V4"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT s.name, s.course_id, s.current_module, c.name as course_name, s.lead_score\nFROM students s\nLEFT JOIN courses c ON s.course_id = c.id\nWHERE s.phone = '{{ $node[\"Transformer\"].json.phone }}'\nLIMIT 1",
                "options": {}
            },
            "id": "pg-get-student",
            "name": "Get Student Info",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [640, 300],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "const rows = $input.all();\nif (rows.length > 0 && rows[0].json.name) return rows;\nreturn [{ json: { name: 'Estudante', course_id: 19, current_module: 1, course_name: 'IA Aplicada', lead_score: 0 } }];"
            },
            "id": "get-student-fallback",
            "name": "Get Student Fallback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [820, 300]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT m.id as module_id, m.title, m.content_text as syllabus, m.evaluation_rubric\nFROM modules m\nWHERE m.course_int_id = {{ $json.course_id }}\n  AND m.module_number = {{ $json.current_module }}\nLIMIT 1",
                "options": {}
            },
            "id": "pg-get-module",
            "name": "Get Module Info",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [1000, 160],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT tm.question, tm.answer\nFROM training_memory tm\nWHERE tm.course_id = '{{ $json.course_id }}'\n   OR tm.student_phone = '{{ $node[\"Transformer\"].json.phone }}'\nORDER BY tm.created_at DESC\nLIMIT 3",
                "options": {}
            },
            "id": "pg-fetch-memories",
            "name": "Buscar Exemplos (Few-shot)",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [1000, 440],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT dc.content, dc.metadata\nFROM document_chunks dc\nJOIN modules m ON dc.module_id = m.id\nWHERE m.course_int_id = {{ $node[\"Get Student Fallback\"].json.course_id }}\n  AND m.module_number = {{ $node[\"Get Student Fallback\"].json.current_module }}\nORDER BY dc.chunk_index ASC\nLIMIT 5",
                "options": {}
            },
            "id": "pg-get-rag-chunks",
            "name": "RAG: Buscar Chunks",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [1000, 300],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            },
            "continueOnFail": true
        },
        {
            "parameters": {
                "jsCode": "// Coleta dados de todos os branches\nconst redisRaw = $('Redis: Get History').all().map(i => i.json.result).filter(Boolean);\nconst fewShot = $('Buscar Exemplos (Few-shot)').all().map(i => i.json);\nconst modRows = $('Get Module Info').all();\nconst ragChunks = $('RAG: Buscar Chunks').all().map(i => i.json).filter(r => r && r.content);\nconst std = $('Get Student Fallback').item.json;\n\n// Dados do módulo (com fallback)\nconst mod = (modRows.length > 0 && modRows[0].json.syllabus)\n  ? modRows[0].json\n  : { title: 'Introdução', syllabus: 'Empreendedorismo e tecnologia.', evaluation_rubric: null };\n\n// Histórico de conversa (Redis)\nlet history = [];\ntry {\n  history = redisRaw.map(h => JSON.parse(h)).reverse();\n} catch(e) { history = []; }\n\n// Exemplos de tom de voz (few-shot)\nconst examples = fewShot.length > 0\n  ? fewShot.map(m => `P: ${m.question}\\nR: ${m.answer}`).join('\\n---\\n')\n  : '';\n\n// Material do módulo (RAG chunks ou content_text)\nlet ragContext = '';\nif (ragChunks.length > 0) {\n  ragContext = '\\n\\nMATERIAL DO MÓDULO (BASE DE CONHECIMENTO):\\n' +\n    ragChunks.map((c, i) => `[${i+1}] ${c.content}`).join('\\n\\n');\n} else if (mod.syllabus) {\n  ragContext = '\\n\\nEMENTA DO MÓDULO:\\n' + mod.syllabus;\n}\n\n// Rubrica de avaliação (para modo avaliativo)\nconst rubric = mod.evaluation_rubric\n  ? `\\n\\nCRITÉRIO DE AVALIAÇÃO:\\n${mod.evaluation_rubric}`\n  : '';\n\nreturn [{\n  json: {\n    syllabus: mod.syllabus || 'Conteúdo em preparação.',\n    rubric,\n    rag_context: ragContext,\n    student_name: std.name || 'Estudante',\n    course_name: std.course_name || 'Kreativ Educação',\n    course_id: std.course_id,\n    current_module: std.current_module,\n    lead_score: std.lead_score || 0,\n    examples,\n    history,\n    rag_available: ragChunks.length > 0\n  }\n}];"
            },
            "id": "aggregator",
            "name": "Agregador de Contexto",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1240, 300]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sk-412552782fbe4009a25a013825e6ab66"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ \n  const ctx = $json;\n  const history = ctx.history.map(h => ({ role: h.role, content: h.content }));\n  const systemPrompt = [\n    `Você é o Tutor IA da Kreativ Educação.`,\n    `CURSO: ${ctx.course_name} | MÓDULO ATUAL: ${ctx.current_module}`,\n    `ALUNO: ${ctx.student_name} (Lead Score: ${ctx.lead_score})`,\n    ``,\n    `INSTRUÇÕES:`,\n    `- Responda em português, de forma simples e encorajadora`,\n    `- Limite a resposta a 3 parágrafos (máx 300 palavras) para WhatsApp`,\n    `- Se o aluno pedir TUTOR ou HUMANO, responda que vai conectá-lo com um especialista`,\n    ctx.rag_available ? `- Use o MATERIAL DO MÓDULO para fundamentar as respostas` : ``,\n    ctx.rubric ? `${ctx.rubric}` : ``,\n    ctx.examples ? `\\nEXEMPLOS DE TOM DE VOZ:\\n${ctx.examples}` : ``,\n    `${ctx.rag_context}`\n  ].filter(Boolean).join('\\n');\n\n  const messages = [\n    { role: \"system\", content: systemPrompt },\n    ...history,\n    { role: \"user\", content: $node[\"Transformer\"].json.body }\n  ];\n\n  return JSON.stringify({\n    model: \"deepseek-chat\",\n    messages,\n    temperature: 0.7,\n    max_tokens: 400\n  });\n}}",
                "options": {
                    "timeout": 30000
                }
            },
            "id": "deepseek-ai",
            "name": "DeepSeek AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [1460, 300],
            "continueOnFail": true
        },
        {
            "id": "code-check-ai",
            "name": "Check AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1660, 300],
            "parameters": {
                "jsCode": "if ($json.choices && $json.choices.length > 0) return [$input.item];\nreturn [{ json: { choices: [{ message: { content: \"Desculpe, tive um problema técnico momentâneo. Pode repetir sua pergunta? 🙏\" } }] } }];"
            }
        },
        {
            "id": "rd-push-user",
            "name": "Redis: Push User",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [1860, 200],
            "parameters": {
                "operation": "lpush",
                "key": "={{ \"chat_history:\" + $node[\"Transformer\"].json.phone }}",
                "value": "={{ JSON.stringify({ role: 'user', content: $node[\"Transformer\"].json.body.substring(0, 1500) }) }}"
            },
            "credentials": {
                "redis": {
                    "id": "GDNQ9fUq1chyneTT",
                    "name": "Kreativ Redis V4"
                }
            }
        },
        {
            "id": "rd-push-ai",
            "name": "Redis: Push AI",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [1860, 400],
            "parameters": {
                "operation": "lpush",
                "key": "={{ \"chat_history:\" + $node[\"Transformer\"].json.phone }}",
                "value": "={{ JSON.stringify({ role: 'assistant', content: $json.choices[0].message.content.substring(0, 1500) }) }}"
            },
            "credentials": {
                "redis": {
                    "id": "GDNQ9fUq1chyneTT",
                    "name": "Kreativ Redis V4"
                }
            }
        },
        {
            "id": "rd-trim-history",
            "name": "Redis: Trim History",
            "type": "n8n-nodes-base.redis",
            "typeVersion": 1,
            "position": [2060, 400],
            "parameters": {
                "operation": "ltrim",
                "key": "={{ \"chat_history:\" + $node[\"Transformer\"].json.phone }}",
                "start": 0,
                "stop": 19
            },
            "credentials": {
                "redis": {
                    "id": "GDNQ9fUq1chyneTT",
                    "name": "Kreativ Redis V4"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://kreativ_evolution:8080/message/sendText/europs",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "EXr5OuEE2sBMbRo94LtWQfofvEF1gHUM"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ number: $node[\"Transformer\"].json.phone, text: $node[\"Check AI Response\"].json.choices[0].message.content }) }}"
            },
            "id": "send-wa",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [2260, 300]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [[{ "node": "Transformer", "type": "main", "index": 0 }]]
        },
        "Transformer": {
            "main": [[{ "node": "Redis: Get History", "type": "main", "index": 0 }]]
        },
        "Redis: Get History": {
            "main": [[{ "node": "Get Student Info", "type": "main", "index": 0 }]]
        },
        "Get Student Info": {
            "main": [[{ "node": "Get Student Fallback", "type": "main", "index": 0 }]]
        },
        "Get Student Fallback": {
            "main": [[
                { "node": "Get Module Info", "type": "main", "index": 0 },
                { "node": "Buscar Exemplos (Few-shot)", "type": "main", "index": 0 },
                { "node": "RAG: Buscar Chunks", "type": "main", "index": 0 }
            ]]
        },
        "Get Module Info": {
            "main": [[{ "node": "Agregador de Contexto", "type": "main", "index": 0 }]]
        },
        "Buscar Exemplos (Few-shot)": {
            "main": [[{ "node": "Agregador de Contexto", "type": "main", "index": 0 }]]
        },
        "RAG: Buscar Chunks": {
            "main": [[{ "node": "Agregador de Contexto", "type": "main", "index": 0 }]]
        },
        "Agregador de Contexto": {
            "main": [[{ "node": "DeepSeek AI", "type": "main", "index": 0 }]]
        },
        "DeepSeek AI": {
            "main": [[{ "node": "Check AI Response", "type": "main", "index": 0 }]]
        },
        "Check AI Response": {
            "main": [[
                { "node": "Redis: Push User", "type": "main", "index": 0 },
                { "node": "Redis: Push AI", "type": "main", "index": 0 }
            ]]
        },
        "Redis: Push AI": {
            "main": [[{ "node": "Redis: Trim History", "type": "main", "index": 0 }]]
        },
        "Redis: Trim History": {
            "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}
