n8n-workflows/33-half-router.json
{
    "name": "Kreativ: Half Router",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-tutor-v2",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-half",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                200,
                300
            ],
            "webhookId": "kreativ-half-router"
        },
        {
            "parameters": {
                "jsCode": "const input = $json.body || $json;\nreturn [{\n  json: {\n    phone: input.phone || 'no-phone',\n    body: input.body || 'Oi',\n    timestamp: new Date().toISOString()\n  }\n}];"
            },
            "id": "transformer-half",
            "name": "Transformer",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "={{ \"SELECT name, course_id, current_module, syllabus_config FROM students WHERE phone = '\" + $json.phone + \"' LIMIT 1\" }}",
                "options": {
                    "alwaysOutputData": true
                }
            },
            "id": "get-student-half",
            "name": "Get Student",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                600,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "lJaeEy4CpHbhgMAp",
                    "name": "Kreativ PostgreSQL"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Transformer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Transformer": {
            "main": [
                [
                    {
                        "node": "Get Student",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "saveDataSuccessExecution": false,
        "saveExecutionProgress": false
    }
}