n8n-workflows/52-get-module.json
{
  "name": "Kreativ: Get Module (Typebot)",
  "nodes": [
    {
      "id": "gm-wh",
      "name": "Webhook get-module",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "get-module",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kreativ-get-module"
    },
    {
      "id": "gm-parse",
      "name": "Extrair Parâmetros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 304],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst raw = String(body.phone || '').replace(/\\D/g, '');\nconst module_number = parseInt(body.module_number || 1, 10);\nreturn [{ json: { phone: raw, module_number } }];"
      }
    },
    {
      "id": "gm-pg",
      "name": "Buscar Módulo",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [480, 304],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.id, m.module_number, m.title, m.description, m.content_text,\n       m.quiz_questions, m.passing_score, m.media_urls,\n       (SELECT count(*)::int FROM modules\n        WHERE course_int_id = s.course_id\n          AND is_published = TRUE) as total_modules\nFROM students s\nJOIN modules m ON m.course_int_id = s.course_id\n  AND m.module_number = {{ $json.module_number }}\n  AND m.is_published = TRUE\nWHERE s.phone = '{{ $json.phone }}'\n   OR (length('{{ $json.phone }}') = 12\n       AND s.phone = concat(left('{{ $json.phone }}', 2), '9', right('{{ $json.phone }}', 10)))\nLIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "gm-split",
      "name": "Dividir Conteúdo Longo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 304],
      "parameters": {
        "jsCode": "const row = $json;\n\nif (!row.id) {\n  return [{ json: { error: 'Módulo não encontrado' } }];\n}\n\nconst content = row.content_text || '';\nconst MAX_CHUNK = 2000;\n\nlet content_parts = [];\nif (content.length <= MAX_CHUNK) {\n  content_parts = [content];\n} else {\n  // Dividir nos \\n\\n mais próximos de MAX_CHUNK\n  let remaining = content;\n  while (remaining.length > MAX_CHUNK) {\n    let splitAt = remaining.lastIndexOf('\\n\\n', MAX_CHUNK);\n    if (splitAt < 0) splitAt = MAX_CHUNK;\n    content_parts.push(remaining.substring(0, splitAt).trim());\n    remaining = remaining.substring(splitAt).trim();\n  }\n  if (remaining.length > 0) content_parts.push(remaining);\n}\n\nreturn [{ json: {\n  id: row.id,\n  module_number: row.module_number,\n  title: row.title,\n  description: row.description,\n  content_text: row.content_text,\n  content_parts,\n  quiz_questions: row.quiz_questions || [],\n  passing_score: row.passing_score || 70,\n  media_urls: row.media_urls || [],\n  total_modules: row.total_modules || 1\n} }];"
      }
    },
    {
      "id": "gm-resp",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      }
    }
  ],
  "connections": {
    "Webhook get-module": {
      "main": [[{ "node": "Extrair Parâmetros", "type": "main", "index": 0 }]]
    },
    "Extrair Parâmetros": {
      "main": [[{ "node": "Buscar Módulo", "type": "main", "index": 0 }]]
    },
    "Buscar Módulo": {
      "main": [[{ "node": "Dividir Conteúdo Longo", "type": "main", "index": 0 }]]
    },
    "Dividir Conteúdo Longo": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
