n8n-workflows/55-request-human.json
{
  "name": "Kreativ: Request Human (Typebot)",
  "nodes": [
    {
      "id": "rh-wh",
      "name": "Webhook request-human",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [80, 304],
      "parameters": {
        "httpMethod": "POST",
        "path": "request-human",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "kreativ-request-human"
    },
    {
      "id": "rh-parse",
      "name": "Normalizar Telefone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [280, 304],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst raw = String(body.phone || '').replace(/\\D/g, '');\nconst reason = body.reason || 'Solicitação via Typebot';\nreturn [{ json: { phone: raw, reason } }];"
      }
    },
    {
      "id": "rh-pg-handoff",
      "name": "Atualizar Handoff e Sessão",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [480, 304],
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Atualizar handoff_control\nINSERT INTO handoff_control (phone, status, updated_at)\nVALUES ('{{ $json.phone }}', 'human', NOW())\nON CONFLICT (phone) DO UPDATE SET status = 'human', updated_at = NOW();\n\n-- Atualizar students\nUPDATE students SET attendance_status = 'human', updated_at = NOW()\nWHERE phone = '{{ $json.phone }}'\n   OR (length('{{ $json.phone }}') = 12\n       AND phone = concat(left('{{ $json.phone }}', 2), '9', right('{{ $json.phone }}', 10)));\n\n-- Criar sessão de suporte\nINSERT INTO support_sessions (student_id, reason)\nSELECT id, '{{ ($json.reason) | replace(\"'\", \"''\") }}'\nFROM students\nWHERE phone = '{{ $json.phone }}'\n   OR (length('{{ $json.phone }}') = 12\n       AND phone = concat(left('{{ $json.phone }}', 2), '9', right('{{ $json.phone }}', 10)))\nLIMIT 1",
        "options": {}
      },
      "credentials": {
        "postgres": {
          "id": "lJaeEy4CpHbhgMAp",
          "name": "Kreativ PostgreSQL"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "rh-cw-search",
      "name": "Buscar Contato Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 304],
      "parameters": {
        "method": "GET",
        "url": "http://kreativ_chatwoot_app:3000/api/v1/accounts/2/contacts/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Normalizar Telefone').first().json.phone }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "rh-if-contact",
      "name": "Contato existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 304],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.payload && $json.payload.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "rh-cw-create-contact",
      "name": "Criar Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1080, 404],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_chatwoot_app:3000/api/v1/accounts/2/contacts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $('Normalizar Telefone').first().json.phone, phone_number: '+' + $('Normalizar Telefone').first().json.phone }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        }
      }
    },
    {
      "id": "rh-merge-contact",
      "name": "Unir Contato",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1280, 304],
      "parameters": {
        "jsCode": "const input = $input.item.json;\nlet contactId = null;\nif (input.id) {\n  contactId = input.id;\n} else if (input.payload && Array.isArray(input.payload) && input.payload.length > 0) {\n  contactId = input.payload[0].id;\n} else if (input.payload && input.payload.contact) {\n  contactId = input.payload.contact.id;\n}\nconst phone = $('Normalizar Telefone').first().json.phone;\nconst reason = $('Normalizar Telefone').first().json.reason;\nreturn [{ json: { contactId, phone, reason } }];"
      }
    },
    {
      "id": "rh-cw-check-conv",
      "name": "Checar Conversa Aberta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 304],
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://kreativ_chatwoot_app:3000/api/v1/accounts/2/contacts/' + $json.contactId + '/conversations' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": true
        }
      }
    },
    {
      "id": "rh-if-conv",
      "name": "Tem conversa aberta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 304],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.payload && $json.payload.length > 0 && $json.payload.some(c => c.status === 'open') }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      }
    },
    {
      "id": "rh-cw-create-conv",
      "name": "Criar Conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 404],
      "parameters": {
        "method": "POST",
        "url": "http://kreativ_chatwoot_app:3000/api/v1/accounts/2/conversations",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_id: $('Unir Contato').first().json.contactId, inbox_id: 1, status: 'open' }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        }
      }
    },
    {
      "id": "rh-merge-conv",
      "name": "Definir Conversa ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2080, 304],
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst checkConvNode = $('Checar Conversa Aberta').first().json.payload;\nlet id = null;\nif (input.id) {\n  id = input.id;\n} else if (checkConvNode && checkConvNode.length > 0) {\n  const open = checkConvNode.find(c => c.status === 'open');\n  if (open) id = open.id;\n}\nconst reason = $('Unir Contato').first().json.reason;\nreturn [{ json: { convId: id, reason } }];"
      }
    },
    {
      "id": "rh-cw-send-msg",
      "name": "Enviar Mensagem de Suporte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2280, 304],
      "parameters": {
        "method": "POST",
        "url": "={{ 'http://kreativ_chatwoot_app:3000/api/v1/accounts/2/conversations/' + $json.convId + '/messages' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: '🚨 SOLICITAÇÃO DE TUTOR\\nMotivo: ' + $json.reason, message_type: 'incoming', private: false }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "hh5bHLwTRyKoqZzAvaPUUm5v"
            }
          ]
        }
      }
    },
    {
      "id": "rh-resp",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2480, 304],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Tutor solicitado' }) }}"
      }
    }
  ],
  "connections": {
    "Webhook request-human": {
      "main": [[{ "node": "Normalizar Telefone", "type": "main", "index": 0 }]]
    },
    "Normalizar Telefone": {
      "main": [[{ "node": "Atualizar Handoff e Sessão", "type": "main", "index": 0 }]]
    },
    "Atualizar Handoff e Sessão": {
      "main": [[{ "node": "Buscar Contato Chatwoot", "type": "main", "index": 0 }]]
    },
    "Buscar Contato Chatwoot": {
      "main": [[{ "node": "Contato existe?", "type": "main", "index": 0 }]]
    },
    "Contato existe?": {
      "main": [
        [{ "node": "Unir Contato", "type": "main", "index": 0 }],
        [{ "node": "Criar Contato", "type": "main", "index": 0 }]
      ]
    },
    "Criar Contato": {
      "main": [[{ "node": "Unir Contato", "type": "main", "index": 0 }]]
    },
    "Unir Contato": {
      "main": [[{ "node": "Checar Conversa Aberta", "type": "main", "index": 0 }]]
    },
    "Checar Conversa Aberta": {
      "main": [[{ "node": "Tem conversa aberta?", "type": "main", "index": 0 }]]
    },
    "Tem conversa aberta?": {
      "main": [
        [{ "node": "Definir Conversa ID", "type": "main", "index": 0 }],
        [{ "node": "Criar Conversa", "type": "main", "index": 0 }]
      ]
    },
    "Criar Conversa": {
      "main": [[{ "node": "Definir Conversa ID", "type": "main", "index": 0 }]]
    },
    "Definir Conversa ID": {
      "main": [[{ "node": "Enviar Mensagem de Suporte", "type": "main", "index": 0 }]]
    },
    "Enviar Mensagem de Suporte": {
      "main": [[{ "node": "Responder Sucesso", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
