n8n-workflows/60-kreativ-api-ultimate.json
{
    "name": "Kreativ: Unified API Router (v1.1 - ULTIMATE)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "kreativ-unified-api",
                "responseMode": "responseNode"
            },
            "name": "Webhook API",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "kreativ-unified-api-id"
        },
        {
            "parameters": {
                "jsCode": "const body = $json.body || $json; return [{ json: { ...body, phone: String(body.phone || '').replace(/\\D/g, ''), action: body.action } }];"
            },
            "name": "Normalizar Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                200,
                0
            ]
        },
        {
            "parameters": {
                "workflowId": "5caL67H387euTxan",
                "options": {
                    "waitForSubWorkflow": true
                },
                "fields": {
                    "values": [
                        {
                            "name": "phone",
                            "stringValue": "={{ $json.phone }}"
                        },
                        {
                            "name": "body",
                            "stringValue": "={{ $json.message || $json.body || 'Oi' }}"
                        }
                    ]
                }
            },
            "name": "AI Tutor: Proxy Request",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                400,
                0
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "name": "Responder",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                600,
                0
            ]
        }
    ],
    "connections": {
        "Webhook API": {
            "main": [
                [
                    {
                        "node": "Normalizar Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Input": {
            "main": [
                [
                    {
                        "node": "AI Tutor: Proxy Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Tutor: Proxy Request": {
            "main": [
                [
                    {
                        "node": "Responder",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}