n8n-workflows/99-Global-Error-Handler.json
{
    "name": "99-Global-Error-Handler",
    "nodes": [
        {
            "parameters": {},
            "id": "error-trigger",
            "name": "Error Trigger",
            "type": "n8n-nodes-base.errorTrigger",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.deepseek.com/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer sk-412552782fbe4009a25a013825e6ab66"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({\n  model: \"deepseek-chat\",\n  messages: [\n    { \n      role: \"system\", \n      content: \"Você é o Arquiteto de Software Chefe do projeto Kreativ Educação. Ocorreu uma falha crítica em um dos fluxos do n8n. Escreva um prompt/roteiro de correção estruturado e imperativo para ser executado por um agente de IA de terminal (Gemini CLI / Claude Code). FORMATAÇÃO: Responda APENAS com o texto em Markdown. Liste arquivos para ler e instruções de refatoração.\" \n    },\n    { \n      role: \"user\", \n      content: `DADOS DO ERRO:\\n- Workflow ID: ${$json.workflow.id}\\n- Workflow Name: ${$json.workflow.name}\\n- Mensagem de Erro: ${$json.execution.error.message}\\n- Último Nó Executado: ${$json.execution.lastNodeExecuted}`\n    }\n  ],\n  temperature: 0.2\n}) }}",
                "options": {}
            },
            "id": "deepseek-fix",
            "name": "DeepSeek Gen Fix",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const choices = $json.choices || [];\nconst fixPlan = choices[0]?.message?.content || 'Erro ao gerar plano.';\nreturn [{ json: { fixPlan } }];"
            },
            "id": "extract-fix",
            "name": "Extrair Plano",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                300
            ]
        },
        {
            "parameters": {
                "command": "={{ \"echo '\" + $json.fixPlan.replace(/'/g, \"'\\\\''\") + \"' > /root/ideias_app/auto-fix-plan.md\" }}"
            },
            "id": "save-file",
            "name": "Salvar Ticket de Correção",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                800,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://kreativ_builderbot:3008/api/send",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ phone: \"556399374165\", message: \"🚨 *FALHA CRÍTICA DETECTADA*\\n\\nUm erro ocorreu no n8n. Um plano de correção foi gerado em `auto-fix-plan.md`.\\n\\nExecute `bash scripts/auto-fix.sh` para aplicar a correção.\" }) }}",
                "options": {}
            },
            "id": "notify-tutor",
            "name": "Notificar Tutor",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1000,
                300
            ]
        }
    ],
    "connections": {
        "Error Trigger": {
            "main": [
                [
                    {
                        "node": "DeepSeek Gen Fix",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DeepSeek Gen Fix": {
            "main": [
                [
                    {
                        "node": "Extrair Plano",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extrair Plano": {
            "main": [
                [
                    {
                        "node": "Salvar Ticket de Correção",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Salvar Ticket de Correção": {
            "main": [
                [
                    {
                        "node": "Notificar Tutor",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}